<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a routerLink='sended' routerLinkActive ='active-link'><span class="icon icon-send"></span>Wysłane</a></li>
      <li><a routerLink='received' routerLinkActive ='active-link'><span class="icon icon-envelope"></span>Odebrane</a></li>
      <li><a routerLink='accepted' routerLinkActive ='active-link'><span class="icon icon-ok"></span>Zaakceptowane</a></li>
      <li><a routerLink='rejected' routerLinkActive ='active-link'><span class="icon icon-ban"></span>Odrzucone</a></li>
    </ul>
  </div>
</nav>
<div class="user-history">
  <router-outlet></router-outlet>
</div>
