.single-transaction {
	overflow: auto;
}

.user-history {
  margin-top: 15px;
}

.inner {
  margin: 10px auto;
  padding: 15px;
}

.single-transaction-content p {
	margin: 5px 0;
	text-align: center;
}

.single-transaction-title p {
	margin: 5px 0;
}


#left {
	float:left;
	width:200px;
}

#left p {
	text-align: left;
}

#right {
	float:right;
	width:200px;
	text-align: right;
}

#right p {
	text-align: right;
}
#center {
	margin:0 auto;
	width:200px;
}

.single-transaction-content a{
    color: #333;
    text-decoration: none;
}

.single-transaction-content a:hover{
    color: #f98d1a;
}

.navbar-default {
	margin-top: 15px;
	background-color: #FFF;
	font-weight: 700;
	font-size: 1.0em;
	box-shadow: 2px 2px 1px #d5d5d5;
	border-radius: 0;
}

.navbar-nav {
  width: 100%;
}

.navbar-nav li {
  width: 24%;
  text-align: center;

}

@media (max-width: 580px){
  .navbar-nav li {
    width: 100%;
  }
}

.navbar-nav span {
	margin-right: 5px;
}

.navbar-nav a:hover, .navbar-nav a:focus, .navbar-nav a:active {
	color: rgb(249, 141, 26);
}

.active-link {
	color: rgb(249, 141, 26);
}

div.gameTitle p{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

/* received */

.senderBox{
	display: flex;
    justify-content: center;
}
.senderBox p{
	margin-right: 5px;
}

.sender{
	color: #f98d1a;
}

#info{
	text-align: center;
}

.gameTitleBig p{
	text-align: center;
    color: #f98d1a;
    font-size: 30px;
}

.stateBox{
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.gameState{
	display: flex;
    align-items: flex-end;
}

.gameState p{
	margin: 0px 5px 0px 0px;
}
