<div class="user-history">
  <div class="single-transaction inner">
    <div class="single-transaction-content">
      <p>
        24 maja 2017: Wymieniłeś się za grę <b>Gra</b> z użytkownikiem <b>Mateusz</b>. <a href="#">Zobacz szczegóły</a>
      </p>
    </div>
  </div>
  <div class="single-transaction inner">
    <div class="single-transaction-content">
      <p>
        23 maja 2017: Wymieniłeś się za grę <b>Gra</b> z użytkownikiem <b>Mateusz</b>. <a href="#">Zobacz szczegóły</a>
      </p>
    </div>
  </div>
  <div class="single-transaction inner">
    <div class="single-transaction-content">
      <p>
        22 maja 2017: Wymieniłeś się za grę <b>Gra</b> z {{userHistory}} użytkownikiem <b>Mateusz</b>. <a href="#">Zobacz szczegóły</a>
      </p>
    </div>
  </div>
</div>
