@import '../../../scss/colors';
@import '../../../scss/mixins';
@import '../../../scss/font-awesome';

$custom-mobile-breakpoint: 580px;

.navbar-default {
  @include font-size(16);

  margin: 0 0 15px;
  background-color: $pl-white;
  font-weight: 700;
  box-shadow: 2px 2px 1px $pl-gray;
  border-radius: 0;

  .container-fluid {
    padding: 0;

    .navbar-nav {
      width: 100%;
      @include display-flex;
      margin: 8px 0px;

      @media only screen and (max-width: $custom-mobile-breakpoint) {
        @include flex-direction(column);
      }

      li {
        width: 25%;
        text-align: center;

        @media only screen and (max-width: $custom-mobile-breakpoint) {
          width: 100%;
        }

        a.active-link {
          color: $pl-orange;
        }

        a {
          color: $pl-dark-gray;
          font-weight: normal;
          @include font-size(14);

          @media only screen and (max-width: 678px) {
            @include display-flex;
            @include justify-content(center);
            @include flex-direction(column);
          }

          @media only screen and (max-width: $custom-mobile-breakpoint) {
            @include flex-direction(row);
          }
        }

        a:hover,
        a:focus,
        a:active {
          color: $pl-orange;
        }

        span {
          margin-right: 5px;

          &.icon {
            @include font-size(18);

            position: relative;
            top: 0px;

            &-send {
              @include pet-icon-after($pl-paper-plane-o);
            }

            &-envelope {
              @include pet-icon-after($pl-envelope-open-o);
            }

            &-ok {
              @include pet-icon-after($pl-check);
            }

            &-ban {
              @include pet-icon-after($pl-ban);
            }
          }

          @media only screen and (max-width: 678px) {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

.transaction-wrapper {
  overflow: auto;
  margin: 0 auto 15px;
  padding: 15px;

  .transaction-top {
    @include display-flex;
    @include flex-direction(column);

    .transaction-row {
      @include display-flex;

      .transaction-column {
        @include display-flex;
        @include flex-direction(column);
        width: calc(50% - 50px);
        @include respond-to(mobile) {
          width: 100%;
        }

        p {
          text-align: center;
          line-height: 24px;
        }
      }

      .arrow-box {
        width: 100px;
        @include display-flex;
        @include justify-content(center);
        @include align-items(center);
        @include respond-to(mobile) {
          padding: 15px 0;
        }

        img {
          margin: 0;
          width: 60px;
          height: 60px;
        }
      }

      .transaction-link{
        margin: 0;
        color: $pl-orange;
        font-weight: 600;
      }

      .transaction-form {
        padding: 0 15px 15px;
        position: relative;

        span.cr {
          border: 1px solid $pl-orange;
        }
      }

      li {
        list-style: none;
        @include display-flex;
        @include align-items(center);

        .icon {
          @include font-size(8);

          color: $pl-dark-gray;
          margin: 0 5px 0 0;

          &-circle {
            @include pet-icon-after($pl-circle);
          }
        }
      }
    }

    .transaction-center-row {
      @include justify-content(center);
    }

    .transaction-vertical-row {
      @include flex-direction(column);
    }

    .transaction-row-padding {
      padding: 15px 0;
      min-height: 80px;

      @include respond-to(mobile) {
        @include flex-direction(column);
        @include align-items(center);
      }
    }
  }

  .transaction-bottom{
    border-top: 1px solid $pl-light-gray;
    padding: 15px 0 0;

    .transaction-row{
      @include display-flex;
      @include justify-content(space-between);

      @include respond-to(mobile) {
        @include flex-direction(column);
      }

      .transaction-column {
        @include display-flex;

        .btn {
          margin: 0;
          width: 100px;
          height: 32px;
          font-weight: 500;

          @include font-size(13);

        }

        .btn-color {
          border: 1px solid $pl-dark-gray3;
        }

        .btn:first-child{
          margin: 0 15px 0 0;
        }
      }

      .transaction-column-margin {
        @include respond-to(mobile) {
          margin: 0 0 10px;
        }
      }
    }
  }

  p {
    margin: 0;
    line-height: 32px;
    display: inline-block;
  }

  p.transaction-paragraph {
    line-height: 24px;
    margin: 0 0 6px;
  }

  p.bigTitle{
    @include font-size(30);

    text-align: center;
    color: $pl-orange;
    margin: 0 0 20px;
  }
}
<<<<<<< HEAD
=======

.transaction-wrapper:last-child {
  margin: 0;
}
>>>>>>> e2fbb7a59fcbdae697a62a5275bf5927d3eb6ca9
