@import '../../../scss/mixins';
@import '../../../scss/colors';
@import '../../../scss/font-awesome';

$custom-mobile-breakpoint: 580px;

.navbar-default {
  @include font-size(16);

  margin-top: 15px;
  background-color: $pl-white;
  font-weight: 700;
  box-shadow: 2px 2px 1px $pl-gray;
  border-radius: 0;

  .container-fluid {
    padding: 0;

    .navbar-nav {
      width: 100%;
      display: flex;
      margin: 8px 0px;

      @media only screen and (max-width: $custom-mobile-breakpoint) {
        flex-direction: column;
      }

      li {
        width: 25%;
        text-align: center;

        @media only screen and (max-width: $custom-mobile-breakpoint) {
          width: 100%;
        }

        a.active-link {
          color: $pl-orange;         
        }

        a {
          @media only screen and (max-width: 678px) {
            display: flex;
            justify-content: center;
            flex-direction: column;
          }

          @media only screen and (max-width: $custom-mobile-breakpoint) {
            flex-direction: row;
          }
        }

        a:hover,
        a:focus,
        a:active {
          color: $pl-orange;
        }

        span {
          margin-right: 5px;

          &.icon {
            @include font-size(18);

            position: relative;
            top: 0px;

            &-send {
              @include pet-icon-after($pl-paper-plane-o);
            }

            &-envelope {
              @include pet-icon-after($pl-envelope-open-o);
            }

            &-ok {
              @include pet-icon-after($pl-check);
            }

            &-ban {
              @include pet-icon-after($pl-ban);
            }
          }

          @media only screen and (max-width: 678px) {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

.inner {
  margin: 10px auto;
  padding: 15px;
}

.single-transaction {
  overflow: auto;

  .senderBox {
    display: flex;
    justify-content: center;

    p {
      margin-right: 5px;
    }

    .sender {
      color: $pl-orange;
    }
  }

  .gameTitleBig p {
    @include font-size(30);

    text-align: center;
    color: $pl-orange;
  }

  .stateBox {
    display: flex;
    width: 100%;
    justify-content: space-between;

    @media only screen and (max-width: $custom-mobile-breakpoint) {
      flex-direction: column;
    }

    .gameState {
      display: flex;
      align-items: flex-end;

      p {
        margin-right: 5px;
      }
    }
  }

  // accepted, rejected, sent
  .single-transaction-content {
    p {
      margin: 5px 0;
      text-align: center;
    }

    a {
      color: $pl-dark-gray;
      text-decoration: none;

      &:hover {
        color: $pl-orange;
      }
    }
  }

  #left {
    float: left;
    width: 200px;

    p {
      text-align: left;
    }

    .gameTitle p {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  #center {
    margin: 0 auto;
    width: 200px;
  }

  #right {
    float: right;
    width: 200px;
    text-align: right;

    p {
      text-align: right;
    }

    .gameTitle p {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
