<div class="tabs">
  <nav>
    <ul>
      <li>
        <a routerLink='accepted' routerLinkActive ='active-link'>
          <span>Zaakceptowane</span>
        </a>
      </li>
      <li>
        <a routerLink='pending' routerLinkActive ='active-link'>  
          <span>Wysłane</span>
        </a>
      </li>
      <li>
        <a routerLink='rejected' routerLinkActive ='active-link'>
          <span>Odrzucone</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="user-history">
  <router-outlet></router-outlet>
</div>
