.games-main-panel{
	margin: 10px 0 0 0;
	display: block;
	.games-info{
		margin-bottom: 40px;
		.games-panel-header {
			margin: 0;
			margin-bottom: 10px;
			padding-bottom: 15px;
			padding-left: 3%;
			padding-right: 3%;
			height: 50px;
			display: block;
			h5{
				letter-spacing: -0.02em;
				font-size: 24px;
				line-height: 30px;
				display: inline-block;
			}
			.button-add-new-game{
				float: right;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

			}
		}
		hr.style1{
			border-top: 1px solid #f98d1a;
			margin: 5px 3% 5px 3%;
		}
		.games-panel-content{
			display: block;
			.single-game-box{
				margin-bottom: 15px;
				width: 100%;
				min-height: 130px;
				display: table;
				.single-box-content{
					padding: 15px;
					width: 100%;
					display: inline-flex;
					.game-image{
						display: flex;
						vertical-align: middle;
						width: 120px;
						height: 120px;
						border: 1px solid #e7e7e7;
						img{
							background-position: top;
							max-height: 95%;
							max-width: 95%;
							position: relative;
							margin: auto;
							display: block;
						}
					}
					.game-info{
						margin-left: 30px;
						width: calc(100% - 150px);
						p.title{
							letter-spacing: -0.02em;
							font-size: 24px;
							line-height: 30px;
							display: inline-block;
						}
						p.description{
							text-align: justify;
						}
						.game-info-buttons{
							float: right;
							button{
								width: 80px;
								background-color: #e7e7e7;
								border-radius: 5px;
								border:none;
								span{
									margin-right: 5px;
								}
							}
							.btn-remove-game{
								color: #FF0000;
							}
						}
					}
					.game-info-function-box{
						.game-img{
							img{
								width: 120px;
							}
						}
					}
				}
			}
		}
	}
}
