@import '../../../scss/mixins';
@import '../../../scss/colors';
@import '../../../scss/font-awesome';

.games-main-panel {
  margin: 10px 0 0;
  display: block;

  .btn {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 32px;
    font-weight: 500;

    @include font-size(13);

  }

  .btn-color {
    background-color: $pl-light-gray;
    border: 1px solid $pl-dark-gray3;
  }

  .games-info {
    margin: 0;
    
    .games-panel-header {
      margin: 0 0 15px;
      padding: 10px 15px;
      min-height: 50px;
      @include display-flex;
      @include justify-content(flex-end);
      @include align-items(center);

      .icon {
        @include font-size(12);

        &-add {
          @include pet-icon-after($pl-plus);
        }
      }
    }

    .games-panel-content {
      display: block;

      .single-game-box {
        margin: 0 0 15px;
        width: 100%;
        min-height: 130px;

        .single-box-content {
          padding: 10px 15px;
          width: 100%;
          @include display-flex;

          @include respond-to(small-mobile) {
            @include flex-direction(column);
            text-align: center;
          }

          .game-image {
            @include display-flex;
            @include justify-content(center);
            @include align-items(center);
            width: 160px;
            height: 120px;
            border: 1px solid $pl-light-gray;

            @include respond-to(small-mobile) {
              display: block;
              margin: 0 auto;
            }

            img {
              background-position: top;
              max-height: 116px;
              max-width: 156px;
              position: relative;
              margin: auto;
            }
          }

          .game-info {
            margin-left: 30px;
            width: calc(100% - 190px);
            @include display-flex;
            @include flex-direction(column);
            @include flex-wrap(wrap);

            @include respond-to(small-mobile) {
              margin: 0;
              width: 100%;
            }

            a {
              color: $pl-dark-gray;
              @include display-flex;
              @include align-items(center);

              @include respond-to(small-mobile) {
                @include justify-content(center);
                min-height: auto;
                margin: 20px 0;
              }
            }

            a:hover,
            a:focus,
            a:active {
              color: $pl-orange;
            }

            p {
              margin-bottom: 5px;

              &.title {
                @include font-size(24);

                letter-spacing: -0.02em;
                line-height: 30px;
                display: inline-block;
              }
            }

            .game-info-buttons {
              @include display-flex;
              @include justify-content(flex-end);
              margin-top: 20px;

              @include respond-to(small-mobile) {
                @include justify-content(center);
              }

              .btn {
                margin-left: 5px;

                span {
                  margin-right: 5px;
                }

                .icon {
                  @include font-size(16);

                  position: relative;
                  top: 1px;

                  &-edit {
                    @include pet-icon-after($pl-pencil-square-o);
                  }

                  &-trash {
                    @include pet-icon-after($pl-trash-o);
                  }
                }
              }

              .btn-remove-game {
                color: $pl-red;
              }
            }
          }

          .game-info-function-box .game-img img {
            width: 120px;
          }
        }
      }
    }
  }
}

.section-top {
  @include display-flex;

  @include respond-to(small-mobile) {
    @include flex-direction(column);
  }

  .section-column {
    width: 50%;
    @include display-flex;
    @include flex-direction(column);

    @include respond-to(small-mobile) {
      width: 100%;
    }

    .form-group .alert-danger {
      @include font-size(13);

      border-radius: 0;
      border: none;
      color: $pl-red;
      background-color: $pl-white;
      font-weight: 600;
      padding: 5px;
      margin: 0;
    }

    input,
    select {
      max-width: 320px;

      @include respond-to(small-mobile) {
        margin: 0 auto;
      }
    }

    .edit-img-box {
      @include display-flex;
      @include flex-direction(column);

      .center-image {
        @include display-flex;
        @include align-self(center);
      }
    }

    .input-file {
      #change-photo {
        margin-top: 9px;
      }

      .center-button {
        @include display-flex;
        @include justify-content(center);

        .inputfile {
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1;
        }

        .inputfile + label {
          @include font-size(13);

          font-weight: 500;
          padding: 0;
          margin: 0;
          width: 150px;
          height: 32px;
          color: $pl-white;
          background: $pl-orange;
          border: none;
          border-radius: 4px;
          @include display-flex;
          @include align-items(center);
          @include justify-content(center);
          cursor: pointer;
        }

        i {
          margin-right: 10px;
        }
      }
    }
  }
}

textarea {
  max-width: 100%;
  margin: 0 auto;

  @include respond-to(small-mobile) {
    width: 320px;
  }
}

.form-group label {
  text-align: left;
}

.form-group label.image-label {
  text-align: center;
}

.modal-footer {
  @include display-flex;
  @include justify-content(flex-end);

  @include respond-to(small-mobile) {
    @include justify-content(center);
  }

  .btn {
    margin-left: 5px;
  }
}