@import '../../sass/colors';
@import '../../sass/mixins';

.inner {
  background: $pl-white;
  box-shadow: 2px 2px 1px $pl-light-gray2;
  padding: 20px;

  .forgot-button {
    background: transparent;
    color: $pl-orange;
    text-decoration: underline;
    display: inline-block;
    margin-top: 15px;
    float: right;

    @include respond-to(mobile) {
      float: none;
    }
  }

  .alert-danger{
    @include font-size(13);

    border-radius: 0;
    border: none;
    //color: white;
    //font-weight: 500;
    //font-size: 16px;
    //background: url("../../assets/images/icons/alert.png") no-repeat center right;
    //background-color: #F44336;
    color: $pl-red;
    background-color: $pl-white;
    font-weight: 600;
    padding: 5px;
    margin: 0;
  }
}
