@import '../../scss/colors';
@import '../../scss/mixins';


.user-info-panel {
  margin: 0;
}

.inner {
  background: $pl-white;
  box-shadow: 2px 2px 1px $pl-light-gray2;
  padding: 20px;
  margin-top: 25px;

  .forgot-button {
    background: transparent;
    color: $pl-dark-gray;
    text-decoration: underline;
    display: inline-block;
    margin-top: 15px;
    float: right;
    border: none;
    height: 32px;
    line-height: 32px;
    @include transition(all 150ms linear);

    @include respond-to(mobile) {
      float: none;
    }
  }
  .forgot-button:hover {
    color: $pl-orange;
  }

  .alert-danger{
    @include font-size(13);

    border-radius: 0;
    border: none;
    color: $pl-red;
    background-color: $pl-white;
    font-weight: 600;
    padding: 5px;
    margin: 0;
  }
}

@include respond-to(mobile) {
  .custom-button {
    display: inline-block;
  }
}
