<section id="user-panel" class="user-info-panel">
	<div class="container">
		<div class="row">
			<div class="col-md-6">

				<!-- REGISTER FORM -->
				<form action="/app/users/register" #registerForm="ngForm" method="post">
					<h3>Rejestracja</h3>
					<hr class="main-hr">
					<div class="inner">
						<fieldset>
							<div class="form-group">
								<label>Login:</label>
								<input type="text" class="form-control" required minlength="5" name="login" [ngModel]="model.login" #registerUserLogin="ngModel" (keyup)="usedLogin($event)">						
								<div *ngIf="registerUserLogin.errors && (registerUserLogin.dirty || registerUserLogin.touched)" class="alert alert-danger">
									<div [hidden]="!registerUserLogin.errors.required">
										Login jest wymagany
									</div>
									<div [hidden]="!registerUserLogin.errors.minlength">
										Wpisz co najmniej 5 znaków
									</div>
								</div>
								<div *ngIf="this.loginIsUsed != false" class="alert alert-danger">
									Login {{ userlogin }} jest używany
								</div>
							</div>
							<div class="form-group">
								<label>E-mail:</label>
								<input type="text" class="form-control" name="email" [ngModel]="model.email" #registerUserEmail="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
								<div *ngIf="registerUserEmail.errors && (registerUserEmail.dirty || registerUserEmail.touched)" class="alert alert-danger">
									<div [hidden]="!registerUserEmail.errors.required">
										E-mail jest wymagany
									</div>
									<div [hidden]="!registerUserEmail.errors.pattern">
										Wpisz poprawny adres e-mail (example@example.pl)
									</div>
								</div>
							</div>
							<div class="form-group">
								<label>Hasło:</label>
								<input type="password" class="form-control" name="password" minlength="3" required [ngModel]="model.password" #registerUserPassword="ngModel" >
								<div *ngIf="registerUserPassword.errors && (registerUserPassword.dirty || registerUserPassword.touched)" class="alert alert-danger">
									<div [hidden]="!registerUserPassword.errors.required">
										Hasło jest wymagane
									</div>
									<div [hidden]="!registerUserPassword.errors.minlength">
										Wpisz co najmniej 3 znaki
									</div>
								</div>
							</div>
						<div class="form-group">
							<label>Potwierdź hasło:</label>
							<input type="password" class="form-control" name="confirmPassword" minlength="3" validateEqual="password" required [ngModel]="model.confirmPassword" #registerUserConfirmPassword="ngModel" />
							<div *ngIf="registerUserConfirmPassword.errors && (registerUserConfirmPassword.dirty || registerUserConfirmPassword.touched)" class="alert alert-danger">
								<div [hidden]="!registerUserConfirmPassword.errors.required">
									Potwierdzenie hasła jest wymagane
								</div>
								<div [hidden]="!registerUserConfirmPassword.errors.minlength">
									Conajmniej 3 znaki
								</div>
								<div [hidden]="!registerUserConfirmPassword.errors">
									Musi być takie samo jak hasło
								</div>
							</div>
						</div>
						</fieldset>

						<button type="submit" class="btn custom-button" [disabled]="!registerForm.form.valid" (click)="register(registerUserLogin.value, registerUserEmail.value, registerUserPassword.value);">Zarejestruj</button>
					</div>
				</form>
			</div>

			<div class="col-md-6">
				<!-- LOGIN FORM -->
				<form action="/app/users/login" #loginForm="ngForm" method="post">
					<h3>Logowanie</h3>
					<hr class="main-hr">
					<div class="inner">
						<div class="form-group">
							<label>E-mail:</label>
							<input type="text" class="form-control" name="email" #loginUserEmail="ngModel" [ngModel]="model.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
							<div *ngIf="loginUserEmail.errors && (loginUserEmail.dirty || loginUserEmail.touched)" class="alert alert-danger">
								<div [hidden]="!loginUserEmail.errors.required">
									E-mail jest wymagany
								</div>
								<div [hidden]="!loginUserEmail.errors.pattern">
									Wpisz poprawny adres e-mail (example@example.pl)
								</div>
							</div>
						</div>
						<div class="form-group">
							<label>Hasło:</label>
							<input type="password" class="form-control" name="password" [ngModel]="model.password" #loginUserPassword="ngModel" required>
							<div *ngIf="loginUserPassword.errors && (loginUserPassword.dirty || loginUserPassword.touched)" class="alert alert-danger">
								<div [hidden]="!loginUserPassword.errors.required">
									Wpisz hasło
								</div>
							</div>
						</div>
						<button type="submit" class="btn custom-button" [disabled]="!loginForm.form.valid" (click)="login(loginUserEmail.value, loginUserPassword.value);">Zaloguj</button>
						<a class="btn custom-button" style="background:#3b5998" href="/app/auth/facebook"><i class="fa fa-facebook-square"></i> Zaloguj przez Facebook'a</a>
						<button type="button" class="btn forgot-button" data-toggle="modal" data-target="#forgot-password">Zapomniałem hasła</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</section>

<!-- Modal -->
<div id="forgot-password" class="modal fade" role="dialog" >
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Resetowanie hasła</h4>
      </div>
      <div class="modal-body">
				<form class="" action="/app/users/forgot" method="post" #forgotPasswordForm="ngForm">
					<div class="form-group">
						<label for="email">Podaj adres e-mail:</label>
						<input type="text" class="form-control" name="email" #forgotPasswordEmail="ngModel" required [ngModel]="model.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
						<div *ngIf="forgotPasswordEmail.errors && (forgotPasswordEmail.dirty || forgotPasswordEmail.touched)" class="alert alert-danger">
							<div [hidden]="!forgotPasswordEmail.errors.required">
								E-mail jest wymagany
							</div>
							<div [hidden]="!forgotPasswordEmail.errors.pattern">
								Wpisz poprawny adres e-mail (example@example.pl)
							</div>
						</div>
					</div>
					<button [disabled]="!forgotPasswordForm.form.valid"  (click)="this.forgotPassword(forgotPasswordEmail.value)" data-dismiss="modal" class="btn custom-button" type="button" name="button">Resetuj hasło</button>
				</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>
