$pl-black: #000;

$pl-white: #FFF;

$pl-dark-gray: #333;

$pl-mid-gray: #444;

$pl-mid-gray2: #a9a9a9;

$pl-light-gray: #e7e7e7;

$pl-light-gray2: #ddd;

$pl-gray: #d8d8d8;

$pl-gray2: #b6b6b6;

$pl-orange: #f98d1a;

$pl-red: #FF0000;