$pl-black: #000;

$pl-white: #FFF;

$pl-dark-gray: #333;

$pl-dark-gray2: #74777b;

$pl-mid-gray: #444;

$pl-mid-gray2: #a9a9a9;

$pl-light-gray: #e7e7e7;

$pl-light-gray2: #ddd;

$pl-light-gray3: #f8f8f8;

$pl-light-gray4: #F5F5F5;

$pl-gray: #d8d8d8;

$pl-gray2: #b6b6b6;

$pl-orange: #f98d1a;

$pl-red: #FF0000;

$pl-yellow: #FFC100;

$pl-green: #3c763d;

$pl-yellow: #FFFF00;