// small-mobile device
$small-mobile-breakpoint: 479px;

// mobile device
$mobile-breakpoint: 768px;

// tablet device
$tablet-breakpoint: 992px;

// desktop device
$desktop-breakpoint: 1200px;

// Font dize mixin

@mixin font-size($sizeValue) {
  font-size: ($sizeValue) + px;
  font-size: ($sizeValue/10) + rem;
}

// Breapoint mixin

@mixin respond-to($media) {
  @if $media == small-mobile {
    @media only screen and (max-width: $small-mobile-breakpoint) { 
      @content; 
    }
  }

  @else if $media == mobile {
    @media only screen and (max-width: ($mobile-breakpoint - 1)) { 
      @content; 
    }
  }

  @else if $media == tablet {
    @media only screen and (max-width: ($tablet-breakpoint - 1)) { 
      @content; 
    }
  }

  @else if $media == desktop {
    @media only screen and (max-width: ($desktop-breakpoint - 1)) { 
      @content;
    }
  }

  @else if $media == large-desktop {
    @media only screen and (min-width: $desktop-breakpoint) {
      @content;
    }
  }
}

@mixin pet-icon-after($icon, $font-family: 'Pe-icon-7-stroke') {
  &:after {
    content: $icon;
    font-family: $font-family;
    font-weight: 700;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    line-height: 1;
  }
}

@mixin pet-icon-before($icon, $font-family: 'Pe-icon-7-stroke') {
  &:before {
    content: $icon;
    font-family: $font-family;
    font-weight: normal;
    font-style: normal;
    display: block;
    text-decoration: inherit;
    line-height: 1;
  }
}