@font-face {
  font-family: 'Pe-icon-7-stroke';
  src:url('../../../assets/fonts/stroke7pixeden/Pe-icon-7-stroke.eot');
  src:url('../../../assets/fonts/stroke7pixeden/Pe-icon-7-stroke.eot?#iefixu58ytb') format('embedded-opentype'),
    url('../../../assets/fonts/stroke7pixeden/Pe-icon-7-stroke.woff') format('woff'),
    url('../../../assets/fonts/stroke7pixeden/Pe-icon-7-stroke.ttf') format('truetype'),
    url('../../../assets/fonts/stroke7pixeden/Pe-icon-7-stroke.svg') format('svg');
}

/* Icons content */

$pl-icon-joy: '\e617';
$pl-icon-config: '\e666';
$pl-icon-date: '\e660';
$pl-icon-display: '\e65e';
$pl-icon-upload: '\e68a';
$pl-icon-bell: '\e677';
$pl-icon-phone: '\e627';
$pl-icon-mail: '\e639';
$pl-icon-change: '\e61b';
$pl-icon-games: '\e673';
$pl-icon-marker: '\e638';
$pl-icon-star: '\e611';
$pl-icon-add: '\e623';
$pl-icon-user: '\e605';
$pl-icon-comment: '\e668';