<div class="single-transaction inner" *ngFor="let history of userHistory" data-aos="fade-up">
    <div id="left" class="single-transaction-content" >
      <div *ngIf="!history?.recipient.facebook">
        <a routerLink="/user-profile/{{ history?.recipient.local.login }}">
          <p>Login: {{history?.recipient.local.login}}</p>
        </a>
      </div>
      <div *ngIf="history?.recipient.facebook">
        <a routerLink="/user-profile/{{ history?.recipient.local.login }}">
          <p>Login: {{history?.recipient.facebook.name}}</p>
        </a>
      </div>
      <div class="gameTitle">
        <p>Nazwa gry: {{history?.recipientGame.title}}</p>
      </div>
    </div>
    <div id="right" class="single-transaction-content">
      <div *ngIf="!history?.sender.facebook">
        <a routerLink="/user-profile/{{ history?.sender.local.login }}">
          <p>Login: {{history?.sender.local.login}}</p>
        </a>
      </div>
      <div *ngIf="history?.sender.facebook">
        <a routerLink="/user-profile/{{ history?.sender.facebook.name }}">
          <p>Login: {{history?.sender.facebook.name}}</p>
        </a>
      </div>
      <div class="gameTitle" *ngFor="let gamePropose of history.proposeGames">
        <p>Proponowane: {{gamePropose}}</p>
      </div>
    </div>
    <div id="center" class="single-transaction-content">
      <p>Status:</p>
      <p *ngIf="history?.status == 'pending'">W trakcie<p>
    </div>
</div>
