<div class="transaction-wrapper inner" *ngFor="let history of userHistory" data-aos="fade-up">
    <div class="transaction-box" >
        <div class="transaction-top">
            <div class="transaction-row">
                <p>Data: <strong>{{history?.date| date:'medium'}}</strong></p>
            </div>
            <div class="transaction-row">
                <p class="transaction-paragraph">Wysłałeś do
                <a *ngIf="!history?.recipient.facebook" class="transaction-link" routerLink="/user-profile/{{history?.recipient.local.login}}">
                    {{history?.recipient.local.login}}
                </a>
                <a *ngIf="history?.recipient.facebook" class="transaction-link" routerLink="/user-profile/{{history?.recipient.facebook.name}}">
                    {{history?.recipient.facebook.name}}
                </a>
                propozycję wymiany za grę <strong>{{history?.recipientGame.title}}</strong>. Zaproponowałeś następujące gry:</p>
            </div>
            <div class="transaction-row">
                <ul>
                    <li *ngFor="let gamePropose of history.proposeGames">
                        <span _ngcontent-c8="" aria-hidden="true" class="icon icon-circle"></span>
                        <p>{{gamePropose}}</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="transaction-bottom">
            <div class="transaction-row">
                <div class="transaction-column" *ngIf="history?.status== 'pending'">
                    <p>Status: <strong>oczekiwanie na odpowiedź</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>