<div class="single-transaction inner" *ngFor="let history of userHistory">
    <div id="left" class="single-transaction-content">
      <a routerLink="/user-profile/{{ history?.recipient.local.login }}">
        <p>Login: {{history?.recipient.local.login}}</p>
        <p *ngIf="userInfo?.facebook">Login: {{history?.recipient.facebook.name}}</p>
      </a>
      <div class="gameTitle" *ngFor="let gameSelect of history.selectedGames | searchfilter: 'userID' : history?.recipient._id">
        <p>Nazwa gry: {{gameSelect.title}}</p>
      </div>
    </div>
    <div id="right" class="single-transaction-content">
      <a routerLink="/user-profile/{{ history?.sender.local.login }}">
        <p>Login: {{history?.sender.local.login}}</p>
        <p *ngIf="userInfo?.facebook">Login: {{history?.sender.facebook.name}}</p>
      </a>
      <div class="gameTitle" *ngFor="let gamePropose of history.proposeGames | searchfilter: 'userID' : history?.sender._id">
        <p>Nazwa gry: {{gamePropose.title}}</p>
      </div>
    </div>
    <div id="center" class="single-transaction-content">
      <p>Status</p>
      <p>"{{history?.status}}"<p>
    </div>
</div>