section#exchange{
	position: relative;
	.exchange-box{
		position: relative;
		top: -20px;
		margin-bottom: -60px;
		.exchange-background{
			background-image: url("http://localhost:8080/assets/images/exchange-background.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			height: calc(100vh - 90px);
			min-height: 550px;
			opacity: 0.35;
		}
		.exchange-content{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			.container{
				.users-info{
					margin-top: 20px;
					padding: 5px;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					flex-wrap: wrap;
					background-color: #F5F5F5;
					opacity: 0.8;
					border-radius: 10px;
					.recipient{
						display: flex;
						align-items: flex-start;
						img{
							width: 130px;
							height: 130px;
							border-radius: 2px;
							border: 4px solid #FFF;
						}
						.recipient-info{
							margin-left: 10px;
							p{
								font-size: 20px;
								font-family: 'Open Sans', sans-serif;
								color: #333;
							}
							li{
								list-style: none;
								font-family: 'Open Sans', sans-serif;
								color: #333;
								font-size: 14px;
							}
						}
					}
					.sender{
						display: flex;
						align-items: flex-start;
						img{
							width: 130px;
							height: 130px;
							border-radius: 2px;
							border: 4px solid #FFF;
						}
						p{
							margin-right: 10px;
							font-size: 20px;
							font-family: 'Open Sans', sans-serif;
							color: #333;
						}
					}
				}
				.exchange{
					margin-top: 20px;
					display: flex;
					justify-content: space-between;
					flex-direction: row;
					flex-wrap: wrap;
					min-height: 400px;
					.exchange-panel{
						width: 60%;
						padding: 20px;
						background-color: #F5F5F5;
						opacity: 0.8;
						border-radius: 10px;
						display: flex;
						flex-direction: column;
						.drag-drop-panel-header{
							h3{
								padding: 0;
								margin: 0px 0px 20px 0px;
								text-align: center;
								line-height: 35px;
								color: #FFF;
								background-color: #000;
								border-radius: 10px;								
							}
						}
						.drag-drop-panel-content{
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							flex-wrap: wrap;
							align-items: center;
							height: 100%;
							.recipient-game{
								width: 40%;
								display: flex;
								justify-content: center;
								flex-direction: column;
								text-align: center;
								img{
									width: 100px;
									height: 100px;
									margin: 20px auto;
								}
								h3{
									font-size: 20px;
									margin: 0;
								}
								h4{
									font-size: 15px;
									margin: 0;
									line-height: 20px;
								}
							}
							.exchange-arrows{
								width: 20%;
								display: flex;
								justify-content: center;
								img{
									width: 60px;
									height: 60px;
								}
							}
							.drag-drop-area{
								width: 40%;
								display: flex;
								justify-content: center;
								flex-direction: column;
								.drag-hint {
									border: #ffc100 dashed 2px;
								}
								.drag-target-border-green {
									border: #3c763d dashed 2px;
								}
								.drag-drop-container{
									padding: 20px;
									max-width: 240px;
									display: flex;
									flex-wrap: wrap;
									.drag-drop-element{
										border: 1px solid #f98d1a;
										margin-left: 5px;
										margin-top: 5px;
										width: 60px;
										height: 60px;
										border-radius: 10px;
										display: flex;
										justify-content: center;
										align-items: center;
										position: relative;
										img{
											height: 56px;
											width: 56px;
											border-radius: 10px;
										}
										span{
											position: absolute;
											top: -5px;
											right: -5px;
											color: #FF0000;
											cursor: pointer;											
										}
										p{
											margin: 0;
											font-size: 20px;
											color: #f98d1a;
										}
									}
								}
								.drag-drop-info{
									p{
										font-style: italic;
										span{
											margin-right: 10px;
											font-size: 20px;

										}
									}									
								}
							}
						}
						.drag-drop-panel-footer{
							border: none;
							padding: 20px 0px;
							display: flex;
							justify-content: center;
							button{
								margin: 0;
								color: white;
    							font-weight: 500;
    							background: #f98d1a;
    							border: none;
    							min-width: 100px;
    							display: flex;
    							align-items: center;
    							justify-content: center;
    							text-align: center;
    							border-radius: 10px;
    							height: 36px;
							}
						}
					}
					.list-of-game{
						width: 30%;
						padding: 0px 5px;
						background-color: #F5F5F5;
						opacity: 0.8;
						border-radius: 10px;
						.list-box{
							padding: 20px;
							width: 100%;
							min-height: 500px;
							h3{
								padding: 0;
								margin: 0px 0px 20px 0px;
								text-align: center;								
								line-height: 35px;
								color: #FFF;
								background-color: #000;
								border-radius: 10px;
							}
							.list-content{								
								.games{
									padding-right: 20px;
									padding-left: 20px;
									li{
										background-color: #f98d1a;
										color: #F5F5F5;
										margin-top: 5px;
										padding: 8px;
										list-style: none;
										text-align: center;
										cursor: pointer;
										border-radius: 10px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}


    