@import '../../sass/mixins';
@import '../../sass/colors';

section#exchange {
  position: relative;

  .exchange-box {
    position: relative;
    top: -20px;
    margin-bottom: -60px;

    .exchange-background {
      background-image: url("http://localhost:8080/assets/images/exchange-background.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      min-height: calc(100vh - 90px);
      padding-bottom: 20px;

      .loading-exchange-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 146px);
        width: 100%;

        .loading-information {
          background-color: $pl-light-gray4;
          padding: 20px;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          opacity: 0.8;

          .loading {
            margin: 0;
            max-width: 50px;
          }

          h2 {
            margin: 0 0 20px;
          }
        }
      }
      
      .container {
        @media only screen and (max-width: ($desktop-breakpoint -1)) { 
          width: 100%;
        }

        @media only screen and (max-width: ($tablet-breakpoint - 1)) { 
          padding-left: 20px;
          padding-right: 20px;
        }

        @media only screen and(max-width: $small-mobile-breakpoint) {
          padding-left: 5px;
          padding-right: 5px;
        }

        .users-info {
          margin-top: 20px;
          padding: 5px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: wrap;
          background-color: $pl-light-gray4;
          opacity: 0.8;

          .recipient-box {
            @media only screen and (max-width: ($tablet-breakpoint - 1)) { 
              width: 100%
            }

            .recipient {
              display: flex;
              align-items: flex-start;

              @media only screen and (max-width: ($tablet-breakpoint - 1)) { 
                width: 100%;
              }

              @media only screen and(max-width: $small-mobile-breakpoint) {
                align-items: center;
              }

              img {
                width: 130px;
                height: 130px;
                border-radius: 2px;
                border: 4px solid $pl-white;

                @media only screen and (max-width: ($tablet-breakpoint - 1)) { 
                  width: 100px;
                  height: 100px;
                }

                @media only screen and(max-width: $small-mobile-breakpoint) {
                  width: 70px;
                  height: 70px;
                }
              }

              .recipient-info {
                margin-left: 10px;

                p {
                  @include font-size(20);

                  font-family: 'Open Sans', sans-serif;
                  color: $pl-dark-gray;
                }

                li {
                  @include font-size(14);

                  list-style: none;
                  font-family: 'Open Sans', sans-serif;
                  color: $pl-dark-gray;

                  @media only screen and(max-width: $small-mobile-breakpoint) {
                    display: none;
                  }
                }
              }
            }
          }

          .sender-box {
            @media only screen and (max-width: ($tablet-breakpoint - 1)) { 
              width: 100%;
              display: flex;
              justify-content: flex-end;
            }

            .sender {
              display: flex;
              align-items: flex-start;

              @media only screen and(max-width: $small-mobile-breakpoint) {
                align-items: center;
              }

              img {
                width: 130px;
                height: 130px;
                border-radius: 2px;
                border: 4px solid $pl-white;

                @media only screen and (max-width: ($tablet-breakpoint - 1)) { 
                  width: 100px;
                  height: 100px;
                }

                @media only screen and(max-width: $small-mobile-breakpoint) {
                  width: 70px;
                  height: 70px;
                }
              }

              p {
                @include font-size(20);

                margin-right: 10px;
                font-family: 'Open Sans', sans-serif;
                color: $pl-dark-gray;
                text-align: right;
              }
            }
          }
        }

        .exchange {
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          flex-wrap: wrap;
          min-height: 400px;

          @media only screen and (max-width: ($tablet-breakpoint - 1)) { 
            flex-direction: column-reverse;
          }

          .exchange-panel {
            width: 60%;
            padding: 20px 10px;
            background-color: $pl-light-gray4;
            opacity: 0.8;
            display: flex;
            flex-direction: column;

            @media only screen and (max-width: ($desktop-breakpoint -1)) { 
              width: 65%;
            }

            @media only screen and (max-width: ($tablet-breakpoint - 1)) { 
              width: 100%;
            }

            @media only screen and(max-width: $small-mobile-breakpoint) {
              padding: 20px 5px;
            }

            .drag-drop-panel-header {
              @media only screen and (max-width: ($mobile-breakpoint - 1)) { 
                display: none;
              }

              h3 {
                padding: 0;
                margin: 0 0 20px;
                text-align: center;
                line-height: 35px;
                color: $pl-black;
                border-radius: 10px;
              }
            }

            .drag-drop-panel-content {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              flex-wrap: wrap;
              align-items: center;
              height: 100%;

              @media only screen and (max-width: ($mobile-breakpoint - 1)) { 
                flex-direction: column-reverse
              }

              .recipient-game {
                width: 40%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;

                @media only screen and (max-width: ($mobile-breakpoint - 1)) { 
                  width: 100%;
                }

                img {
                  width: 100px;
                  height: 100px;
                  margin: 20px auto;
                }

                h3 {
                  @include font-size(20);

                  margin: 0;
                }

                h4 {
                  @include font-size(15);

                  margin: 0;
                  line-height: 20px;
                }
              }

              .exchange-arrows {
                width: 20%;
                display: flex;
                justify-content: center;

                @media only screen and (max-width: ($desktop-breakpoint -1)) { 
                  width: 15%;
                }

                @media only screen and (max-width: ($mobile-breakpoint - 1)) {
                  width: 100%;
                  margin-bottom: 20px;
                }

                img {
                  width: 60px;
                  height: 60px;
                }
              }

              .drag-drop-area {
                width: 40%;
                display: flex;
                justify-content: center;
                flex-direction: column;

                @media only screen and (max-width: ($desktop-breakpoint -1)) { 
                  width: 45%;
                }

                @media only screen and (max-width: ($mobile-breakpoint - 1)) { 
                  display: none;
                }

                .drag-hint {
                  border: $pl-yellow dashed 2px;
                }

                .drag-target-border-green {
                  border: $pl-green dashed 2px;
                }

                .drag-drop-container {
                  padding: 20px 5px 20px 0;
                  max-width: 240px;
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: center;

                  @media only screen and (max-width: ($desktop-breakpoint -1)) { 
                    padding: 20px;
                    margin: 0 auto;
                  }

                  @media only screen and(max-width: $small-mobile-breakpoint) {
                    padding: 20px 0px;
                  }

                  .drag-drop-element {
                    border: 1px solid $pl-orange;
                    margin: 5px 0 0 5px;
                    width: 60px;
                    height: 60px;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    img {
                      height: 56px;
                      width: 56px;
                      border-radius: 10px;
                    }

                    span {
                      position: absolute;
                      top: -5px;
                      right: -5px;
                      color: $pl-red;
                      cursor: pointer;
                    }

                    p {
                      @include font-size(20);

                      margin: 0;
                      color: $pl-orange;
                    }
                  }
                }

                .drag-drop-info {
                  @media only screen and (max-width: ($mobile-breakpoint - 1)) { 
                    display: none;
                  }

                  p {
                    font-style: italic;

                    @media only screen and (max-width: ($desktop-breakpoint -1)) { 
                      text-align: center;
                    }

                    span {
                      @include font-size(20);

                      margin-right: 10px;
                    }
                  }
                }
              }
            }

            .drag-drop-panel-footer {
              border: none;
              padding: 20px 0px;
              display: flex;
              justify-content: center;

              button {
                margin: 0;
                color: $pl-white;
                font-weight: 500;
                background: $pl-orange;
                border: none;
                min-width: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                border-radius: 10px;
                height: 36px;
              }
            }
          }

          .list-of-game {
            width: 30%;
            padding: 0;
            background-color: $pl-light-gray4;
            opacity: 0.8;
            @media only screen and (max-width: ($tablet-breakpoint - 1)) { 
              width: 100%;
              margin-bottom: 20px 15px;
            }
            .list-box {
              padding: 20px 10px;
              width: 100%;
              min-height: 500px;

              @media only screen and (max-width: ($tablet-breakpoint - 1)) { 
                min-height: auto;
              }

              @media only screen and(max-width: $small-mobile-breakpoint) {
                padding: 20px 0px;
              }

              h3 {
                padding: 0;
                margin: 0 0 20px;
                text-align: center;
                line-height: 35px;
                color: $pl-black;
                border-radius: 10px;
              }

              .list-content {
                .games {
                  padding: 0;
                  width: 100%;
                  max-height: 430px;
                  overflow-y: scroll;
                  overflow-x: hidden;
                  background: transparent;

                  @media only screen and (max-width: ($tablet-breakpoint - 1)) { 
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                  }

                  @media only screen and (max-width: ($mobile-breakpoint - 1)) { 
                    display: none;
                  }

                  .list-center{
                    max-width: 250px;
                    margin: 0 auto;

                      li {
                      background-color: $pl-orange;
                      color: $pl-light-gray4;
                      margin: 5px;
                      padding: 8px;
                      list-style: none;
                      text-align: center;
                      cursor: pointer;
                      border-radius: 10px;
                      max-width: 250px;
                      text-shadow: 1px 1px 1px $pl-black;

                      @media only screen and (max-width: ($tablet-breakpoint - 1)) { 
                        margin: 0 10px 10px;
                        width: 250px;
                      }
                    }
                  }
                }

                .mobile-games {
                  display: none;

                  @media only screen and (max-width: ($mobile-breakpoint - 1)) { 
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    max-width: 250px;
                    margin: 0 auto;

                    .single-game {
                      label {
                        margin-top: 12px;

                        span {
                          color: $pl-black;
                          text-align: center;
                          cursor: pointer;
                          line-height: 20px;
                          border-radius: 10px;
                          max-width: 250px;
                          font-weight: 400;
                        }
                      }
                    }

                    .drag-drop-info p {
                      font-style: italic;
                      text-align: center;

                      span {
                        @include font-size(20);

                        margin-right: 10px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}