@import '../../sass/mixins';
@import '../../sass/colors';

.chat {
  background: $pl-white;
  overflow: auto;
  padding: 15px;
  .chat-header {
    box-shadow: 0 4px 2px -2px $pl-light-gray;
    margin: -15px -15px 1px -15px;
    padding: 15px;
    z-index: 9999;
    position: relative;
  }
  .chat-content {
    height: 300px;
    overflow-y: scroll;
    padding: 15px;

    .message {
      width: 70%;
      float: right;
      margin: 10px 0;
      position: relative;
      .message-content {
        background: $pl-orange;
        color: $pl-white;
        border-radius: 5px;
        padding: 15px;
        text-align: right;
      }
      .message-date {
        text-align: right;
        font-size: 11px;
        color: $pl-gray2;
        margin-top: 5px;
      }
      .message-sender {
        text-align: right;
      }
    }

    .message.received {
      float: left;
      .message-content {
        background: $pl-light-gray4;
        color: $pl-dark-gray;
        text-align: left;
      }
      .message-date,
      .meesage-sender {
        text-align: left;
      }
    }
  }
  .chat-form {
    margin-top: 30px;
    textarea {
      width: 100%;
    }
    button {
      float: right;
    }
  }
}
