@import '../../scss/mixins';
@import '../../scss/colors';

#close-exchange {

  .btn-color {
    background-color: $pl-light-gray;
    border: 1px solid $pl-dark-gray3;
  }

}

.chat {
  max-width: 600px;
  width: 100%;
  margin: 0 auto 50px;
  background: $pl-white;
  overflow: auto;
  box-shadow: 0 4px 2px -2px $pl-light-gray;

  .chat-header {
    height: 50px;
    padding: 0 15px;
    @include display-flex;
    @include align-items(center);
    border-bottom: 1px solid $pl-light-gray;

    h4 {
      margin: 0;
    }
  }

  .chat-content {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 15px;

    .message {
      width: 70%;
      float: right;
      margin: 0 0 5px;
      position: relative;

      .message-content {
        background: $pl-orange;
        color: $pl-white;
        border-radius: 5px;
        padding: 8px;
        text-align: right;
        word-wrap: break-word;
      }


      .message-date {
        text-align: right;
        @include font-size(11);
        color: $pl-gray2;
        margin-bottom: 5px;
      }

      .message-sender {
        text-align: right;
      }
    }

    .message.received {
      float: left;

      .message-content {
        background: $pl-light-gray4;
        color: $pl-dark-gray;
        text-align: left;
      }

      .meesage-sender,
      .message-date {
        text-align: left;
      }
    }
  }

  .chat-form {
    margin: 0;
    padding: 5px;

    textarea {
      width: 100%;
      height: 80px;
    }
  }
  .chat-bottom {
    height: 50px;
    padding: 0 15px;
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);

    button {
      margin: 0;
    }
  }
}

p {
  padding:  0 15px;
  max-width: 530px;
  margin: 0 auto 20px;
  text-align: center;
}

.button-box {
  @include display-flex;
  @include justify-content(space-between);
  margin: 0 auto 50px;
  max-width: 600px;

  button {
    margin: 0 7px;
  }
}

.prev-view-button-box {
  @include display-flex;
  @include justify-content(center);
  margin: 0;

  .prev-view {
    margin: 0;
  }
}
