<div class="transaction-wrapper inner" *ngFor="let history of userHistory | searchfilter: 'status' : 'accepted'" data-aos="fade-up">
    <div class="transaction-box" >
        <div class="transaction-top">
            <div class="transaction-row">
                <p>Data: <strong>{{history?.date| date:'medium'}}</strong></p>
            </div>
            <div *ngIf="this.currentUserID != history.recipient._id" class="transaction-row">
                <p class="transaction-paragraph">Wymiana została zaakceptowana. Skontaktuj się z 
                <a *ngIf="!history?.recipient.facebook" class="transaction-link" routerLink="/user-profile/{{history?.recipient.local.login}}">
                    {{history?.recipient.local.login}}
                </a>
                <a *ngIf="history?.recipient.facebook" class="transaction-link" routerLink="/user-profile/{{history?.recipient.facebook.name}}">
                    {{history?.recipient.facebook.name}}
                </a>
                za pomocą czatu by ustalić szczegóły wymiany.
            </div>
            <div *ngIf="this.currentUserID != history.sender._id" class="transaction-row">
                <p class="transaction-paragraph">Wymiana została zaakceptowana. Skontaktuj się z 
                <a *ngIf="!history?.sender.facebook" class="transaction-link" routerLink="/user-profile/{{history?.sender.local.login}}">
                    {{history?.sender.local.login}}
                </a>
                <a *ngIf="history?.sender.facebook" class="transaction-link" routerLink="/user-profile/{{history?.sender.facebook.name}}">
                    {{history?.sender.facebook.name}}
                </a>
                za pomocą czatu by ustalić szczegóły wymiany.
            </div>
            <div class="transaction-row transaction-row-padding">
                <div class="transaction-column">
                    <p>Nazwa gry</p>
                    <p><strong>{{history?.senderGame}}</strong></p>
                </div>
                <div class="arrow-box">
                    <img src="{{this.appService.getUrl('/assets/images/arrows.png')}}" />
                </div>
                <div class="transaction-column">
                    <p>Nazwa gry</p>
                    <p><strong>{{history?.recipientGame.title}}</strong></p>
                </div>
            </div>
        </div>
        <div class="transaction-bottom">
            <div class="transaction-row">
                <div class="transaction-column transaction-column-margin" *ngIf="history?.status== 'accepted'">
                    <p>Status: <strong>zaakceptowane</strong></p>
                </div>
                <div class="transaction-column">
                    <button class="btn btn-color" data-dismiss="modal" disabled>Odrzuć</button>
                    <button type="button" name="button" class="custom-button btn"
                    (click)="this.startChat(history.sender._id, history.recipient._id)">Czat</button>
                </div>
            </div>
        </div>
    </div>
</div>