<div class="transaction-wrapper inner" *ngFor="let history of userHistory | searchfilter: 'status' : 'accepted'" data-aos="fade-up">
    <div class="transaction-box" >
        <div class="transaction-top">
            <div class="transaction-row">
                <p>Data: <strong>{{history?.date| date:'d MMMM y, j:mm'}}</strong></p>
            </div>
            <div *ngIf="this.currentUserID != history.recipient._id" class="transaction-row">
                <p class="transaction-paragraph">Wymiana została zaakceptowana. Skontaktuj się z
                <a *ngIf="!history?.recipient.facebook" class="transaction-link" routerLink="/user-profile/{{history?.recipient.local.login}}">
                    {{history?.recipient.local.login}}
                </a>
                <a *ngIf="history?.recipient.facebook" class="transaction-link" routerLink="/user-profile/{{history?.recipient.local.login}}">
                    {{history?.recipient.facebook.name}}
                </a>
                za pomocą czatu by ustalić szczegóły wymiany.
            </div>
            <div *ngIf="this.currentUserID != history.sender._id" class="transaction-row">
                <p class="transaction-paragraph">Wymiana została zaakceptowana. Skontaktuj się z
                <a *ngIf="!history?.sender.facebook" class="transaction-link" routerLink="/user-profile/{{history?.sender.local.login}}">
                    {{history?.sender.local.login}}
                </a>
                <a *ngIf="history?.sender.facebook" class="transaction-link" routerLink="/user-profile/{{history?.sender.local.login}}">
                    {{history?.sender.facebook.name}}
                </a>
                za pomocą czatu by ustalić szczegóły wymiany.
            </div>
            <div class="transaction-row transaction-row-padding">
                <div class="transaction-column">
                    <p>Nazwa gry</p>
                    <p><strong>{{history?.senderGame}}</strong></p>
                </div>
                <div class="arrow-box">
                    <img src="{{this.appService.getUrl('/assets/images/arrows.png')}}" />
                </div>
                <div class="transaction-column">
                    <p>Nazwa gry</p>
                    <p><strong>{{history?.recipientGame.title}}</strong></p>
                </div>

            </div>
        </div>

        <div class="transaction-bottom">
            <div class="transaction-row">
                <div class="transaction-column transaction-column-margin" *ngIf="history?.status== 'accepted'">
                    <p>Status: <strong>Zaakceptowane</strong> <span *ngIf="(this.appService.getCurrentUser()._id == history?.recipient._id && history?.isClosedByRecipient)
                                || (this.appService.getCurrentUser()._id == history?.sender._id && history?.isClosedBySender)">
                      (Oczekiwanie na zakończenie przez drugiego użytkownika)
                    </span></p>
                </div>
                <div class="transaction-column">
                    <button *ngIf="history?.status != 'closed' && (this.appService.getCurrentUser()._id == history?.recipient._id && !history?.isClosedByRecipient)
                                || (this.appService.getCurrentUser()._id == history?.sender._id && !history?.isClosedBySender)" type="button" name="button" class="custom-button btn"
                    (click)="this.startChat(history?._id, history.sender._id, history.recipient._id)"><i class="fa fa-comment"></i> Czat</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="transaction-wrapper inner" *ngFor="let history of userHistory | searchfilter: 'status' : 'closed'" data-aos="fade-up">
    <div class="transaction-box" >
        <div class="transaction-top">
            <div class="transaction-row">
                <p>Data: <strong>{{history?.date| date:'d MMMM y, j:mm'}}</strong></p>
            </div>
            <div *ngIf="this.currentUserID != history.recipient._id" class="transaction-row">
                <p class="transaction-paragraph">Wymiana została zakończona. Wymieniłeś się z
                <a *ngIf="!history?.recipient.facebook" class="transaction-link" routerLink="/user-profile/{{history?.recipient.local.login}}">
                    {{history?.recipient.local.login}}.
                </a>
                <a *ngIf="history?.recipient.facebook" class="transaction-link" routerLink="/user-profile/{{history?.recipient.local.login}}">
                    {{history?.recipient.facebook.name}}.
                </a>
            </div>
            <div *ngIf="this.currentUserID != history.sender._id" class="transaction-row">
                <p class="transaction-paragraph">Wymiana została zakończona. Wymieniłeś się z
                <a *ngIf="!history?.sender.facebook" class="transaction-link" routerLink="/user-profile/{{history?.sender.local.login}}">
                    {{history?.sender.local.login}}.
                </a>
                <a *ngIf="history?.sender.facebook" class="transaction-link" routerLink="/user-profile/{{history?.sender.local.login}}">
                    {{history?.sender.facebook.name}}.
                </a>
            </div>
            <div class="transaction-row transaction-row-padding">
                <div class="transaction-column">
                    <p>Nazwa gry</p>
                    <p><strong>{{history?.senderGame}}</strong></p>
                </div>
                <div class="arrow-box">
                    <img src="{{this.appService.getUrl('/assets/images/arrows.png')}}" />
                </div>
                <div class="transaction-column">
                    <p>Nazwa gry</p>
                    <p><strong>{{history?.recipientGame.title}}</strong></p>
                </div>

            </div>
        </div>
        <div class="transaction-bottom">
            <div class="transaction-row">

                <div class="transaction-column transaction-column-margin" *ngIf="history?.status== 'closed'">
                    <p>Status: <strong>Zakończone</strong></p>
                </div>
                <div *ngIf="history?.status == 'closed'" class="exchange-rating">
                  <div *ngIf="this.currentUserID != history.recipient._id && !history.senderRate">
                      <div *ngIf="!history?.sender.facebook && !history?.recipient.facebook">
                          <star-rating-comp [starType]="'svg'" [rating]='0' [hoverEnabled]="true" [labelText]="'Oceń wymianę:'" [labelPosition]="'top'" (onClick)="addGrade(history?.sender.local.login, history?.recipient.local.login, history?._id, $event)" [showHalfStars]="true" (onHoverRatingChange)="onHoverRatingChange($event)"></star-rating-comp>
                      </div>
                      <div *ngIf="!history?.sender.facebook && history?.recipient.facebook">
                          <star-rating-comp [starType]="'svg'" [rating]='0' [hoverEnabled]="true" [labelText]="'Oceń wymianę:'" [labelPosition]="'top'" (onClick)="addGrade(history?.sender.local.login, history?.recipient.local.login, history?._id, $event)" [showHalfStars]="true" (onHoverRatingChange)="onHoverRatingChange($event)"></star-rating-comp>
                      </div>
                      <div *ngIf="history?.sender.facebook && !history?.recipient.facebook">
                          <star-rating-comp [starType]="'svg'" [rating]='0' [hoverEnabled]="true" [labelText]="'Oceń wymianę:'" [labelPosition]="'top'" (onClick)="addGrade(history?.sender.local.login, history?.recipient.local.login, history?._id, $event)" [showHalfStars]="true" (onHoverRatingChange)="onHoverRatingChange($event)"></star-rating-comp>
                      </div>
                      <div *ngIf="history?.sender.facebook && history?.recipient.facebook">
                          <star-rating-comp [starType]="'svg'" [rating]='0' [hoverEnabled]="true" [labelText]="'Oceń wymianę:'" [labelPosition]="'top'" (onClick)="addGrade(history?.sender.local.login, history?.recipient.local.login, history?._id, $event)" [showHalfStars]="true" (onHoverRatingChange)="onHoverRatingChange($event)"></star-rating-comp>
                      </div>
                  </div>
                  <div *ngIf="this.currentUserID != history.sender._id && !history.recipientRate">
                      <div *ngIf="!history?.sender.facebook && !history?.recipient.facebook">
                          <star-rating-comp [starType]="'svg'" [rating]='0' [hoverEnabled]="true" [labelText]="'Oceń wymianę:'" [labelPosition]="'top'" (onClick)="addGrade(history?.sender.local.login, history?.recipient.local.login, history?._id, $event)" [showHalfStars]="true" (onHoverRatingChange)="onHoverRatingChange($event)"></star-rating-comp>
                      </div>
                      <div *ngIf="!history?.sender.facebook && history?.recipient.facebook">
                          <star-rating-comp [starType]="'svg'" [rating]='0' [hoverEnabled]="true" [labelText]="'Oceń wymianę:'" [labelPosition]="'top'" (onClick)="addGrade(history?.sender.local.login, history?.recipient.local.login, history?._id, $event)" [showHalfStars]="true" (onHoverRatingChange)="onHoverRatingChange($event)"></star-rating-comp>
                      </div>
                      <div *ngIf="history?.sender.facebook && !history?.recipient.facebook">
                          <star-rating-comp [starType]="'svg'" [rating]='0' [hoverEnabled]="true" [labelText]="'Oceń wymianę:'" [labelPosition]="'top'" (onClick)="addGrade(history?.sender.local.login, history?.recipient.local.login, history?._id, $event)" [showHalfStars]="true" (onHoverRatingChange)="onHoverRatingChange($event)"></star-rating-comp>
                      </div>
                      <div *ngIf="history?.sender.facebook && history?.recipient.facebook">
                          <star-rating-comp [starType]="'svg'" [rating]='0' [hoverEnabled]="true" [labelText]="'Oceń wymianę:'" [labelPosition]="'top'" (onClick)="addGrade(history?.sender.local.login, history?.recipient.local.login, history?._id, $event)" [showHalfStars]="true" (onHoverRatingChange)="onHoverRatingChange($event)"></star-rating-comp>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
