.right {
	float: right;
}

.user-info-panel{
	margin: 0;
	background-color: #fff;
	width: 100%;
	padding-top: 50px;
	color: #000;
}

.user-sidebar{
	margin: 0;
	padding: 25px 10%;
	display: block;
}

.main-section{
	margin-bottom: 50px;
	text-align: right;
	padding-top: 10px;
	padding-right: 10px;
	border-top: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
}

.main-section a{
	cursor: pointer;
	font-weight: bold;
}

.main-section button{
	background-color: inherit;
	border: 1px solid #EAEAEA;
	float: none;
}

.main-section button:hover{
	background-color: #EAEAEA;
}

.main-section img{
	padding-right: 5px;
}

.user-sidebar .user-avatar{
	max-width: 100%;
	max-height: 300px;
	display: block;
}

.user-sidebar h4{
	padding-top: 10px;
	font-size: 20px;
	font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif
}

.user-sidebar h5{
	font-size: 16px;
	font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif
}

.user-panel-header {
	background-color: #f8f8f8;
	border: 1px solid #e7e7e7;
	padding: 5px 40px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 40px;
	color: inherit;
	margin: 0;
}

.user-panel-header h5{
	    font-family: Roboto;
    color: #184b58;
    letter-spacing: -0.02em;
    font-size: 26px;
    line-height: 30px;
    display: inline-block;
}

.user-panel-header button{
	background-color: inherit;
	border: 1px solid #EAEAEA;
}

.user-panel-header button:hover{
	background-color: #EAEAEA;
}

.user-panel-header img{
	padding-right: 5px;
}

.other-info{
	margin-bottom: 40px;
}

.other-info ul{
	width: 100%;
	margin: 0px;
	padding: 0px;
	display: block;
	border: 1px solid #e7e7e7;
	border-top: none;
}

.other-info li{
	text-decoration: none;
	list-style: none;
	line-height: 40px;
	padding-left: 40px;
}

.other-info ul li:hover{
	background-color: #f8f8f8;
	cursor: pointer;
}

.icon-size{
	height: 25px;
	padding-right: 25px;
}

.user-main-panel{
	margin: 0;
	padding: 25px 1%;
	display: block;
}

.other-info p{
	padding: 10px 40px;
	font-size: 16px;
	border: 1px solid #e7e7e7;
}

.game-box{
	margin-top: 10px;
	display: block;
}

.game-single-box{
	width: 100%;
	min-height: 130px;
	margin-bottom: 15px;
	border: 1px solid #e7e7e7;
	display: table;
}

.game-img{
	display: table-cell;
	vertical-align: middle;
	width: 120px;
}

.game-img img{
	max-width: 100px;
	max-height: 70px;
	position: relative;
	margin: 0 auto;
	display: block;
}

.game-info{
	display: table-cell;
	vertical-align: middle;
}

.game-info h5{
	background-color: inherit;
	font-size: 13px;
	line-height: normal;
	padding: 0;
}

.game-info-function-box{
	display: table-cell;
	vertical-align: middle;
	width: 60px;
}


.game-info-function-box img{
	cursor: pointer;
	margin-bottom: 5px;
	padding-right: 15px;
	padding-left: 15px;
}

.add-game{
	margin-right: 20px;
}

