.games-main-panel{
	margin: 0;
	display: block;
	background-color: #f8f8f8;
	border-right: 5px solid #e7e7e7;
	border-bottom: 5px solid #e7e7e7;
	.games-info{
		margin-bottom: 40px;
		.games-panel-header {
			margin: 0;
			padding-left: 3%;
			padding-right: 3%;
			height: 50px;
			display: block;
			h5{
				font-family: Roboto;
				color: #184b58;
				letter-spacing: -0.02em;
				font-size: 26px;
				line-height: 30px;
				display: inline-block;
			}
			.button-add-new-game{
				float: right;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				button{
					background-color: #f98d1a;
					color: #FFF;
					border-radius: 15px;
					width: 150px;
					padding: 3px;
					font-size: 16px;
					span{
						margin-right: 5px;
					}
				}
				button:hover{
					opacity: 0.8;
				}
			}
		}
		hr.style1{
			border-top: 1px solid #f98d1a;
			margin: 5px 3% 5px 3%;
		}
		.games-panel-content{
			display: block;
			.single-game-box{
				margin-top: 20px;
				padding-right: 3%;
				padding-left: 3%;
				width: 100%;
				min-height: 130px;
				display: table;
				.single-box-content{
					border-bottom: 2px solid #e7e7e7;
					width: 100%;
					display: inline-flex;
					.game-image{
						display: flex;
						vertical-align: middle;
						width: 120px;
						height: 120px;
						border: 1px solid #e7e7e7;
						img{
							background-position: top;
							max-height: 95%;
							max-width: 95%;
							position: relative;
							margin: auto;
							display: block;
						}
					}
					.game-info{
						margin-left: 30px;
						width: calc(100% - 150px);
						p.title{
							font-family: Roboto;
							color: #000;
							letter-spacing: -0.02em;
							font-size: 26px;
							line-height: 30px;
							display: inline-block;
						}
						p.description{
							text-align: justify;
						}
						.game-info-buttons{
							float: right;
							button{
								width: 80px;
								background-color: #e7e7e7;
								border-radius: 5px;
								border:none;
								span{
									margin-right: 5px;
								}
							}
							.btn-remove-game{
								color: #FF0000;
							}
						}
					}
					.game-info-function-box{
						.game-img{
							img{
								width: 120px;
							}
						}
					}
				}
			}
		}
	}
}