@import '../../scss/mixins';
@import '../../scss/colors';

#contactPage{
    margin: 0;

    .section-container{
        background: $pl-white;
        box-shadow: 2px 2px 1px $pl-gray;
        margin: 15px auto 0;
        padding: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 480px;

        .section-wrapper{
            @include display-flex;
            @include flex-direction(column);
            width: 100%;

            h4{
                @include font-size(22);

                line-height: 24px;
                margin: 0 0 20px;
            }

            h5{
                @include font-size(15);
                
                line-height: 20px;
                margin: 0 0 20px;
            }

            textarea{
                min-height: 150px;
            }
            
            .button-row{
                @include display-flex;
                margin: 20px 0 0;

                .custom-button{
                    margin: 0;
                }
            }

            .label-row{
                @include display-flex;

                @include respond-to(small-mobile) {
                    @include flex-direction(column);
                }

                label{
                    width: auto;
                }
                
                span{
                    margin: 0 0 0 5px;
                    color: $pl-red;
                }

                span.error-message{
                    @include respond-to(small-mobile) {
                        margin: 0 0 5px;
                    }
                }
            }
        }
    }
}