<div class="contact-content">
  <div class="contact-card">
    <div class="contact-photo photo1"></div>
    <div class="contact-description">
      <h1>Kamil Wójcik</h1>
      <h2>Back-End</h2>
      <p>magicproject525@gmail.com</p>
      <p>magicproject525@gmail.com</p>
    </div>
  </div>
  <div class="contact-card">
    <div class="contact-photo photo1"></div>
    <div class="contact-description">
      <h1>Mateusz Piotrowicz</h1>
      <h2>Back-End</h2>
      <p>magicproject525@gmail.com</p>
      <p>magicproject525@gmail.com</p>
    </div>
  </div>
  <div class="contact-card">
    <div class="contact-photo photo1"></div>
    <div class="contact-description">
      <h1>Marian Faron</h1>
      <h2>Front-End</h2>
      <p>magicproject525@gmail.com</p>
      <p>magicproject525@gmail.com</p>
    </div>
  </div>
  <div class="contact-card">
    <div class="contact-photo photo1"></div>
    <div class="contact-description">
      <h1>Aleksander Pośka</h1>
      <h2>Front-End</h2>
      <p>magicproject525@gmail.com</p>
      <p>magicproject525@gmail.com</p>
    </div>
  </div>
</div>