<section id="contactPage">
  <div class="container">
    <div class="section-container">
      <div class="section-wrapper">
        <h4>Formluarz kontaktowy</h4>
        <h5>Skorzystaj z formularza i skontaktuj się z nami!</h5>
        <form class="col" #formRef="ngForm" novalidate="false">
          <div class="form-group">
            <div class="label-row">
              <div class="label-row-content">
                <label>Temat wiadomości</label>
                <span>*</span>
              </div>
              <span class="error-message" *ngIf="!messageSubject.valid">Podaj temat wiadomości</span>
            </div>
            <input type="text" class="form-control" placeholder="Np. Niedziałająca funkcjonalność"
              #messageSubject="ngModel" required 
              [(ngModel)]="model.subject" name="subject"/>
          </div>
          <div class="form-group">
            <div class="label-row">
              <div class="label-row-content">
                <label>Treść wiadomości</label>
                <span>*</span>
              </div>
              <span class="error-message" *ngIf="!messageContent.valid">Podaj treść wiadomości</span>
            </div>
            <textarea class="form-control" placeholder="Np. Opis problemu" 
              #messageContent="ngModel" required 
              [(ngModel)]="model.content" name="content"></textarea>
          </div>
          <div class="form-group">
            <div class="label-row">
              <div class="label-row-content">
                <label>Adres e-mail</label>
                <span>*</span>
              </div>
              <span class="error-message" *ngIf="!messageAuthorEmail.valid">Podaj poprawny adres e-mail</span>
            </div>
            <input type="email" class="form-control" placeholder="twoj@adres.pl" 
              #messageAuthorEmail="ngModel" required email
              [(ngModel)]="model.authorEmail" name="authorEmail"/>
          </div>
          <div class="form-group">
            <label>Imię</label>
            <input type="text" class="form-control" placeholder="Np. Jan" 
              #messageAuthorName="ngModel" 
              [(ngModel)]="model.authorName" name="authorName"/>
          </div>
          <div class="form-group">
            <label>Nazwisko</label>
            <input type="text" class="form-control" placeholder="Np. Kowalski" 
              #messageAuthorSurname="ngModel" 
              [(ngModel)]="model.authorSurname" name="authorSurname"/>
          </div>
          <div class="button-row">
            <button class="btn custom-button" 
            (click)="sendMessage(formRef.valid, model.subject, model.content, model.authorEmail, model.authorName, model.authorSurname)"> 
            Wyślij wiadomość </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
