<div class="transaction-wrapper inner" *ngFor="let history of userHistory" data-aos="fade-up">
    <div class="transaction-box">
        <div class="transaction-top">
            <div class="transaction-row">
                <p>Data: <strong>{{history?.date| date:'d MMMM y, j:mm'}}</strong></p>
            </div>
            <div class="transaction-row transaction-center-row">
                <p class="transaction-paragraph">Gracz
                <a *ngIf="!history?.sender.facebook" class="transaction-link" routerLink="/user-profile/{{history?.sender.local.login}}">
                    {{history?.sender.local.login}}
                </a>
                <a *ngIf="history?.sender.facebook" class="transaction-link" routerLink="/user-profile/{{history?.sender.facebook.name}}">
                    {{history?.sender.facebook.name}}
                </a>
                złożył Ci propozycję wymiany. Jest zainteresowany grą:</p>
            </div>
            <div class="transaction-row transaction-center-row">
                <p class="bigTitle">{{history?.recipientGame.title}}</p>
            </div>
            <div class="transaction-row transaction-vertical-row">
                <p>Jeśli jesteś zainteresowany wybierz jedną z proponowanych gier.</p>
                <div class="transaction-form">
                    <form>
                        <div *ngFor="let gamePropose of history.proposeGames">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="options" (click)="senderGame = gamePropose;"/>
                                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                    {{gamePropose}}
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="transaction-bottom">
            <div class="transaction-row">
                <div class="transaction-colum transaction-column-margin" *ngIf="history?.status== 'pending'">
                    <p>Status: <strong>oczekiwanie na odpowiedź</strong></p>
                </div>
                <div class="transaction-column">
                    <button class="btn btn-color" data-dismiss="modal" (click)="discardExchange(history._id);">Odrzuć</button>
                    <button class="btn custom-button" data-dismiss="modal" name="button" type="button"
                            (click)="acceptExchange(history._id);">Akceptuj</button>
                </div>
            </div>
        </div>
    </div>
</div>