<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="tabs">
				<nav>
					<ul>
						<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
							<a [routerLink]="['games']" class="icon icon-joy">
								<span>Moje gry</span>
							</a>
						</li>
						<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
							<a [routerLink]="['notifications']" class="icon icon-display">				
								<span>Powiadomienia</span>
							</a>
						</li>
						<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
							<a [routerLink]="['history']" class="icon icon-date">
								<span>Historia wymiany</span>
							</a>
						</li>
						<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
							<a [routerLink]="['config']" class="icon icon-config">
								<span>Ustawienia</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
