@import '../../../scss/mixins';
@import '../../../scss/colors';
@import '../../../scss/font-awesome';

$custom-mobile-breakpoint: 580px;

.container {
  @include font-size(20);

  padding-right: 0;
  padding-left: 0;

  .col-md-8 .tabs {
    @include font-size(20);

    box-shadow: 2px 2px 1px $pl-gray;

    @media screen and (max-width: $custom-mobile-breakpoint){
      box-shadow: none;
    }

    nav {
      margin-bottom: 0px;

      ul {
        @include display-flex;
        margin: 0 auto;
        padding: 0;
        flex-flow: row wrap;

        li {
          display: block;
          text-align: center;
          @include flex(1)
          border: 1px solid rgba($pl-dark-gray, 0.1);

          a {
            padding: 0.65em 0 0.5em;
            background: $pl-white;
            color: $pl-dark-gray;
            line-height: 1;
            text-decoration: none;
            display: block;
            height: 84px;

            @media screen and (max-width: $custom-mobile-breakpoint) {
              @include display-flex;
              @include justify-content(center);
              @include align-items(center);
            }

            span {
              @include font-size(12);

              text-transform: uppercase;
              letter-spacing: 1px;
              font-weight: 700;
              vertical-align: middle;

              @media screen and (max-width: $custom-mobile-breakpoint) {
                display: none;
              }
            }
          }

          a:hover,
          a:focus,
          a:active {
            color: $pl-orange;
          }

          .active-link {
            color: $pl-orange;
          }

          .icon {
            @include font-size(30);
            padding: 14px 0 10px;

            &-joy {
              @include pet-icon-before($pl-cubes);
            }

            &-bell {
              @include pet-icon-before($pl-bell-o);
            }

            &-config {
              @include pet-icon-before($pl-gears);
            }

            &-date {
              @include pet-icon-before($pl-calendar);
            }
          }
        }

        li:not(:last-child) {
          border-right: none;
        }
      }
    }
  }

  .mobile-tab-name {
    display: none;

    @media screen and (max-width: $custom-mobile-breakpoint){
      margin-top: 0 !important;
      height: 50px;
      background-color: $pl-white;
      margin: 5px 0 0;
      @include display-flex;
      @include justify-content(center);
      @include align-items(center);

      h3 {
        @include font-size(18);

        margin: 0;
        color: $pl-orange;
      }
    }
  }
}
