@import '../../../scss/mixins';
@import '../../../scss/colors';
@import '../../../scss/font-awesome';

.user-sidebar {
  margin: 0;
  padding: 20px 3% 1px;
  display: block;

  .other-info {
    margin-bottom: 40px;

    a {
      color: $pl-dark-gray;
      text-decoration: underline;
    }

    a:active,
    a:focus,
    a:hover {
      color: $pl-orange;
      text-decoration: underline;
    }

    .user-panel-header {
      @include font-size(16);

      background-color: $pl-light-gray3;
      border: 1px solid $pl-light-gray;
      padding: 5px 40px;
      vertical-align: middle;
      line-height: 40px;
      color: inherit;
      margin: 0;

      h5 {
        @include font-size(16);

        font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
      }
    }

    .user-avatar {
      max-width: 250px;
      max-height: 200px;
      display: block;
      position: relative;
      margin: 0 auto;
    }

    ul {
      width: 100%;
      margin-top: 20px;
      padding: 0;
      display: block;

      li {
        text-decoration: none;
        list-style: none;
        line-height: 22px;
        padding-left: 3%;

        span {
          margin-right: 10px;
        }
      }

      li.username {
        @include font-size(20);

        margin-bottom: 15px;
      }

      li.usercity {
        margin-bottom: 15px;
      }
    }
  }
}

.hidden {
  display: none;
}

.user-info-box {
  margin-bottom: 15px;

  li {
    width: 100%;
    display: flex;

    &.usercity p {
      margin-left: 4px;
    }
  }

  p {
    margin: 0;
    vertical-align: middle;
    display: inline-block;
  }

  .icon {
    @include font-size(21);

    color: $pl-dark-gray2;

    &-mail {
      @include pet-icon-after($pl-envelope-o);
    }

    &-phone {
      @include pet-icon-after($pl-phone);
      margin: 0 3px;
    }

    &-date {
      @include pet-icon-after($pl-calendar-o);
    }

    &-game {
      @include pet-icon-after($pl-puzzle-piece);
    }

    &-change {
      @include pet-icon-after($pl-exchange);
    }

    &-city {
      @include pet-icon-after($pl-map-marker);
      margin: 0 4px;
    }

    &-star {
      @include pet-icon-after($pl-star);
    }
  }
}
