<div class="user-sidebar inner">
	<div class="other-info">
		<div *ngIf="userInfo">
			<img *ngIf="!userInfo?.avatarImage" class="user-avatar" alt="facebook-avatar"
			src="http://graph.facebook.com/{{userInfo?.facebook.id}}/picture?width=160&amp;height=160"/>
			<img *ngIf="userInfo?.avatarImage" class="user-avatar" alt="user-avatar" 
			src="{{this.appService.getUrl('/assets/uploads/avatars/')}}{{userInfo?.avatarImage}}" />
		</div>
		<div *ngIf="!userInfo">
			<div class="text-center">
				<img src="../../assets/images/loading.gif" alt="" class="loading">
			</div>
		</div>
		<ul>
			<div class="user-info-box">
				<li *ngIf="userInfo?.local && !userInfo?.facebook" class="username">{{userInfo?.local.login}}</li>
				<li *ngIf="userInfo?.facebook" class="username">{{userInfo?.facebook.name}}</li>

				<!-- FACEBOOK INFO  -->
				<div *ngIf="userInfo?.facebook">
					<li *ngIf="userInfo?.facebook.email">
						<span class="icon icon-mail"></span><p>Email: <a href="mailto:{{userInfo?.facebook.email}}">{{userInfo?.facebook.email}}</a></p>
					</li>
				</div>

				<!-- LOCAL INFO -->

				<div *ngIf="userInfo?.local && !userInfo?.facebook">
					<li *ngIf="userInfo?.local.email">
						<span class="icon icon-mail"></span><p>Email: <a href="mailto:{{userInfo?.local.email}}">{{userInfo?.local.email}}</a></p>
					</li>
				</div>

				<li *ngIf="userInfo?.contactNumber">
					<span class="icon icon-phone"></span><p> Telefon: {{userInfo?.contactNumber}}<p>
				</li>
				<li *ngIf="userInfo?.dateBirth">
					<span class="icon icon-date"></span><p> Data urodzenia: {{userInfo?.dateBirth}}</p>
				</li>
				<li *ngIf="userInfo?.city" class="usercity">
					<span class="icon icon-city"></span><p> Miasto: {{userInfo?.city}}</p>
				</li>
			</div>
			<div class="user-info-box">
				<li>
					<span class="icon icon-game"></span><p> Liczba gier na wymianę: {{userInfo?.numberOfGames}}</p>
				</li>
				<li>
					<span class="icon icon-change"></span><p> Liczba przeprowadzonych wymian: {{userInfo?.numberOfExchanges}}</p>
				</li>
				<li>
					<span class="icon icon-star"></span><p> Ocena społeczności: {{userInfo?.sumOfGrades}}</p>
				</li>
			</div>
		</ul>
	</div>
</div>
