.user-sidebar {
	margin: 0;
	padding: 20px 3% 1px;
	display: block;
	.other-info {
		margin-bottom: 40px;
		a {
			color: #333;
			text-decoration: underline;
		}

		a:active,
		a:focus,
		a:hover {
			color: #f98d1a;
			text-decoration: underline;
		}

		.user-panel-header {
			background-color: #f8f8f8;
			border: 1px solid #e7e7e7;
			padding: 5px 40px;
			vertical-align: middle;
			font-size: 16px;
			line-height: 40px;
			color: inherit;
			margin: 0;

			h5 {
				font-size: 16px;
				font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
			}
		}

		.user-avatar {
			max-width: 250px;
			max-height: 200px;
			display: block;
			position: relative;
			margin: 0 auto;
		}

		ul {
			width: 100%;
			margin-top: 20px;
			padding: 0;
			display: block;

			li {
				text-decoration: none;
				list-style: none;
				line-height: 22px;
				padding-left: 3%;

				span {
					margin-right: 10px;
				}
			}

			li.username {
				font-size: 20px;
				margin-bottom: 15px;
			}

			li.usercity {
				margin-bottom: 15px;
			}
		}
	}
}
