<section id="newGames" class="games-list">
  <div class="container">
    <h3>{{pageTitle}}</h3>
    <hr class="main-hr">
    <div class="row">
      <div class="col-md-3">
        <div class="inner">
          <form action="/app/search" method="post">
          	<input type="text" class="search-input" name="search" value="" #searchInput placeholder="Szukaj...">
          	<button type="submit" class="custom-button" name="button" (click)="this.searchTitle(searchInput.value);searchInput.value=''"><i class="fa fa-search"></i></button>
          </form>
          <h3>Kategorie</h3>
          <div class="game-categories">
            <div *ngFor="let option of categoriesOptions">
              <div class="checkbox">
                <label>
                    <input type="checkbox"
                           name="options"
                           value="{{option.value}}"
                           [(ngModel)]="option.checked"/>
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    {{option.name}}
                </label>
              </div>
            </div>
          </div>
          <h3>Stan</h3>
          <div class="game-states">
            <div *ngFor="let option of statesOptions">
              <div class="checkbox">
                <label>
                    <input type="checkbox"
                           name="options"
                           value="{{option.value}}"
                           [(ngModel)]="option.checked"/>
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    {{option.name}}
                </label>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button type="button" name="button" class="btn custom-button" (click)="updateOptions()">
              <i class="fa fa-save"></i>
              Filtruj
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-9 new-game-wrapper">
        <div *ngIf="!pagedItems">
          <div class="text-center">
            <img src="../../assets/images/loading.gif" alt="" class="loading">
          </div>
        </div>
        <div *ngFor="let game of pagedItems">
            <div class="inner game">
              <div class="row">
                <div class="col-md-3">
                  <div class="game-image">
                    <a routerLink="/games/{{ game._id }}">
                      <img src="{{this.appService.getUrl('/assets/uploads/covers/')}}{{ game.Image }}" alt="{{game.title}}" class="img-responsive center-block">
                    </a>
                  </div>
                </div>
                <div class="col-md-6">
                  <h3><a routerLink="/games/{{ game._id }}">{{ game.title }}</a></h3>
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                  <span *ngIf="game.userID.local">
                    <a routerLink="/user-profile/{{ game.userID.local.login }}"> Dodane przez: {{ game.userID.local.login }}</a><br>
                  </span>
                  <span *ngIf="game.userID.facebook">
                    <a routerLink="/user-profile/{{ game.userID.facebook.name }}"> Dodane przez: {{ game.userID.facebook.name }}</a><br>
                  </span>
                  <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Lokalizacja: Poznań<br>
                  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Dodane {{ game.createdDate | date:'longDate' }}<br>
                </div>
                <div class="col-md-3">
                  <div class="game-info-buttons" *ngIf="this.appService.isLoggedIn()">
                    <button *ngIf="this.appService.getCurrentUser()._id != game.userID._id" 
                    routerLink="/exchange/{{ game._id }}" type="button" class="btn btn-default custom-button">Wymień się</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="text-center">
          <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(1)">&#60;&#60;</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(pager.currentPage - 1)">&#60;</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.currentPage + 1)">&#62;</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.totalPages)">&#62;&#62;</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>