<section id="newGames" class="games-list">
  <div class="container">
    <h3>{{pageTitle}}</h3>
    <hr class="main-hr">
    <div class="row">
      <div class="col-md-3">
        <div class="inner">
          <h3>Kategorie</h3>
          <hr class="main-hr">
          <div *ngFor="let category of categories">
            <input type="checkbox" name="{{category}}" value="">
            <label for="{{category}}">{{category}}</label>
          </div>
          <h3>Stan</h3>
          <hr class="main-hr">
          <div *ngFor="let state of states">
            <input type="checkbox" name="{{state}}" value="">
            <label for="{{state}}">{{state}}</label>
          </div>
          <div class="text-center">
            <button type="button" name="button" class="btn custom-button">
              <i class="fa fa-save"></i>
              Zapisz
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-9 new-game-wrapper">
        <div *ngFor="let i=index; let game of games | slice:0:4">
          <a routerLink="/games/{{ game._id }}" class="game-card">
            <div class="inner">
              <div class="row">
                <div class="col-md-3">
                  <img src="{{this.appService.getUrl('/assets/uploads/covers/')}}{{ game.gameImage }}" alt="{{game.title}}" class="img-responsive center-block">
                </div>
                <div class="col-md-6">
                  <h3>{{ game.title }}</h3>
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <a routerLink="/users/{{ game.userID }}">Dodane przez: {{ game.userID }}</a><br>
                  <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Lokalizacja: Poznań<br>
                  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Dodane {{ game.createdDate | date:'longDate' }}<br>
                </div>
                <div class="col-md-3">
                  <div class="text-center"><button type="button" class="btn btn-default custom-button" disabled>Wymień się!</button></div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="pagination">

      </div>
    </div>
  </div>
</section>
