@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/font-awesome';

.games-list {
  margin: 15px 0 50px;

  .container {
    @include respond-to(tablet) {
      width: 98%;
      margin: 0 auto;
    }

    .games-list-content {
      @include display-flex;
      @include justify-content(space-between);
      @include flex-direction(row);
      width: 100%;
      padding-top: 15px;

      @include respond-to(tablet) {
        flex-flow: wrap column;
      }

      .search-bar {
        width: 300px;

        @include respond-to(tablet) {
          width: 100%;
        }

        .inner {
          padding: 20px;
          margin-bottom: 15px;

          form {
            width: 100%;
            display: inline-block;
            border: 1px solid $pl-gray2;

            .search-input {
              border: none;
              background: $pl-white;
              border-bottom: 1px solid $pl-white;
              color: $pl-black;
              padding: 0 0 0 10px;
              height: 40px;
              width: calc(100% - 40px);

            }

            .search-input:focus {
              outline: none;
            }

            .search-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                color: $pl-dark-gray2;
            }

            .search-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
               color: $pl-dark-gray2;
               @include opacity(1);
            }

            .search-input::-moz-placeholder { /* Mozilla Firefox 19+ */
               color: $pl-dark-gray2;
               @include opacity(1);
            }

            .search-input::-ms-input-placeholder { /* Microsoft Edge */
               color: $pl-dark-gray2;
            }

            .custom-button {
              margin: 0 0 0 -4px;
              height: 40px;
              width: 40px;
              float: right;
              min-width: 40px;
            }
          }

          .column {
            width: 100%;

            @include respond-to(tablet) {
              width: 50%;
            }

            @include respond-to(small-mobile) {
              width: 100%;
            }

            .custom-checkbox {
              margin: 0 0 12px;

              label > span {
                color: $pl-black;
                cursor: pointer;
                line-height: 20px;
                border-radius: 4px;
                max-width: 250px;
                font-weight: 400;
                border: none;
              }
            }

            h3 {
              margin: 0 0 15px;

              @include respond-to(tablet) {
                margin: 25px 25px 15px;
              }
            }

            .game-categories .checkbox i,
            .game-states .checkbox i {
              left: 20%;
            }

            .game-categories,
            .game-states {
              @include respond-to(tablet) {
                margin-right: 25px;
              }

              @include respond-to(small-mobile) {
                margin: 0;
              }

              span {
                border: 1px solid $pl-orange;
                height: 20px;
                width: 20px;
                margin-right: 15px;
              }
            }

            button {
              min-width: 140px;
            }
          }

          .left {
            @include respond-to(tablet) {
              @include display-flex;
              @include flex-direction(column);
              @include align-items( flex-start);
            }

            @include respond-to(small-mobile) {
              @include align-items(flex-start);
            }
          }

          .right {
            @include respond-to(tablet) {
              @include display-flex;
              @include flex-direction(column);
              @include align-items( flex-start);
            }

            @include respond-to(small-mobile) {
              @include align-items(flex-start);
            }
          }

          h2 {
            @include font-size(16);

            text-transform: uppercase;
            color: $pl-mid-gray;
            margin: 15px 0;
            text-align: center;

            @include respond-to(tablet) {
              width: 100%;
            }
          }

          .text-center {
            @include respond-to(tablet) {
              width: 100%;
            }
          }
        }

        .inner:first-child {
          @include display-flex;
          @include justify-content(center);
          @include align-items(center);
          @include flex-direction(column);
          padding: 20px;

          h2 {
            margin-top: 0;
          }
        }

        .inner:last-child {
          @include respond-to(tablet) {
            @include display-flex;
            @include flex-wrap(wrap);
          }
        }
      }

      .list-of-games {
        width: calc(100% - 315px);
        margin: 0 0 0 15px;

        @include respond-to(tablet) {
          width: 100%;
          margin: 0;
        }

        .inner {
          padding: 15px;
        }

        .game-box {
          background-color: $pl-white;
          box-shadow: 2px 2px 1px $pl-gray;
          padding: 15px;
          margin-bottom: 15px;
          min-height: 150px;
          @include display-flex;
          @include flex-wrap(wrap);

          .game-image {
            @include display-flex;
            @include justify-content(center);
            @include align-items(center);
            vertical-align: middle;
            width: 160px;
            height: 120px;
            border: 1px solid $pl-light-gray;

            @include respond-to(small-mobile) {
              margin: 0 auto 15px;
            }

            img {
              position: relative;
              background-position: top;
              max-height: 116px;
              max-width: 116px;
              margin: auto;
            }
          }

          .game-info {
            width: calc(100% - 300px);
            @include display-flex;
            @include flex-direction(column);
            @include justify-content(center);
            padding: 0 20px;

            @include respond-to(desktop) {
              width: calc(100% - 160px);
            }

            @include respond-to(tablet) {
              width: calc(100% - 300px);
            }

            @include respond-to(mobile) {
              width: calc(100% - 160px);
            }

            @include respond-to(small-mobile) {
              width: 100%;
              text-align: center;
              padding: 0;
              margin: 0 auto;
            }

            h3 {
              margin: 0 0 15px;
            }

            .single-info {
              @include display-flex;
              @include justify-content(flex-start);
              @include align-items(center);
              top: 2px;

              @include respond-to(small-mobile) {
                margin: 0 auto 5px;
              }

              .icon-marker + p {
                margin-left: 5px;
              }

              .icon-user + a {
                margin-left: 2px;
              }

              a {
                margin: 4px 0 0;
              }

              p {
                margin: 4px 0 0;
              }

              span {
                margin-right: 10px;
              }
            }

            a {
              color: $pl-dark-gray;
              text-decoration: none;
            }

            a:active,
            a:focus,
            a:hover{
              color: $pl-orange;
            }
          }

          .exchange-button {
            width: 140px;
            @include display-flex;
            @include justify-content(center);
            @include align-items(center);

            @include respond-to(desktop) {
              width: 100%;
            }

            @include respond-to(tablet) {
              width: 140px;
            }

            @include respond-to(mobile) {
              width: 100%;
              margin: 10px auto;
            }

            .game-info-buttons {
              margin: 0;

              .btn {
                margin: 0;
              }
            }
          }

          .icon {
            @include font-size(15);

            position: relative;
            top: 2px;

            &-user {
              @include pet-icon-after($pl-user);
              margin: 0 3px;
            }

            &-marker {
              @include pet-icon-after($pl-map-marker);
              margin: 0 3px;
            }

            &-date {
              @include pet-icon-after($pl-calendar);
            }
          }
        }
      }
    }
  }
}
