.games-list{
  margin-top: 15px;
  padding: 15px;
  .container{
    @media screen and (max-width: 992px){
      width: 98%;
      margin: 0 auto;
    }
    h3 {
      margin-top: 0;
    }
    .games-list-content{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
      padding-top: 15px;
      @media screen and (max-width: 880px){
        flex-flow: wrap column;
      }
      .search-bar{
        width: 300px;
        @media screen and (max-width: 880px){
          width: 100%;
        }
        .inner {
          padding: 15px;
          margin-bottom: 15px;
          form {
            width: 100%;
            display: inline-block;
            border: 1px solid #b6b6b6;
            @media screen and (max-width: 880px){
              max-width: 270px;
            }
            .search-input {
              border: none;
              background: #fff;
              border-bottom: 1px solid #fff;
              color: #000;
              padding: 0 0 0 10px;
              height: 30px;
              width: calc(100% - 30px);
            }
            .search-input:focus {
              outline: none;
            }
            .search-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                color: #666;
            }
            .search-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
               color: #666;
               opacity: 1;
            }
            .search-input::-moz-placeholder { /* Mozilla Firefox 19+ */
               color: #666;
               opacity: 1;
            }
            .search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
               color: #666;
            }
            .search-input::-ms-input-placeholder { /* Microsoft Edge */
               color: #666;
            }
            .custom-button {
              margin: 0 0 0 -4px;
              height: 30px;
              width: 30px;
              float: right;
              min-width: 30px;
            }
          }
          .column{
            width: 100%;
            @media screen and (max-width: 880px){
              width: 50%;
            }
            @media screen and (max-width: 500px){
              width: 100%;
            }
            h3 {
              margin: 25px 0 15px 25px;
              @media screen and (max-width: 880px){
                margin: 25px 25px 15px;
              }
            }
            .game-categories,
            .game-states{
              margin-left: 25px;
              @media screen and (max-width: 880px){
                margin-right: 25px;
              }
              @media screen and (max-width: 500px){
                margin: 0;
              }
              span {
                border: 1px solid #f98d1a;
                height: 20px;
                width: 20px;
                margin-right: 15px;
              }
            }
            button{
              min-width: 140px;
            }
          }
          .left{
            @media screen and (max-width: 880px){
              display: flex;
              flex-direction: column;
              align-items: flex-end;
            }
            @media screen and (max-width: 500px){
              align-items: center;
            }
          }
          .right{
            @media screen and (max-width: 880px){
              display: flex;
              flex-direction: column;
              align-items: flex-start;
            }
            @media screen and (max-width: 500px){
              align-items: center;
            }
          }
          h2{
            font-size: 16px;
            text-transform: uppercase;
            color: #444;
            margin: 15px 0;
            text-align: center;
            @media screen and (max-width: 880px){
              width: 100%;
            }
          }
          .text-center{
            @media screen and (max-width: 880px){
              width: 100%;
            }
          }
        }
        .inner:first-child{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          min-height: 150px;
          h2{
            margin-top: 0;
          }
        }
        .inner:last-child{
          @media screen and (max-width: 880px){
            display: flex;
            flex-wrap: wrap;
          }
        }
      }
      .list-of-games{
        width: calc(100% - 315px);
        margin: 0 0 0 15px;
        @media screen and (max-width: 880px){
          width: 100%;
          margin: 0;
        }
        .game-box{
          background-color: #FFF;
          box-shadow: 2px 2px 1px #d5d5d5;
          padding: 15px;
          margin-bottom: 15px;
          min-height: 150px;
          display: flex;
          flex-wrap: wrap;
          .game-image{
            display: flex;
            vertical-align: middle;
            width: 160px;
            height: 120px;
            border: 1px solid #e7e7e7;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 580px){
              margin: 0 auto 15px;
            }
            img{
              background-position: top;
              max-height: 116px;
              max-width: 116px;
              position: relative;
              margin: auto;
            }
          }
          .game-info{
            width: calc(100% - 300px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 20px;
            @media screen and (max-width: 1064px){
              width: calc(100% - 160px);
            }
            @media screen and (max-width: 880px){
              width: calc(100% - 300px);
            }
            @media screen and (max-width: 720px){
              width: calc(100% - 160px);
            }
            @media screen and (max-width: 580px){
              width: 100%;
              text-align: center;
              padding: 0;
              margin: 0 auto;
            }
            .single-info{
              display: flex;
              justify-content: flex-start;
              align-items: center;
              @media screen and (max-width: 580px){
                margin: 0 auto 5px;
              }
              p{
                margin: 0;
              }
              span{
                margin-right: 15px;
              }
            }
            a {
              color: #333;
              text-decoration: none;
            }
            a:active,
            a:focus,
            a:hover{
              color: #f98d1a;
            }
          }
          .exchange-button{
            width: 140px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 1064px){
              width: 100%;
            }
            @media screen and (max-width: 880px){
              width: 140px;
            }
            @media screen and (max-width: 720px){
              width: 100%;
            }
            .game-info-buttons {
              text-align: right;
              margin-right: 15px;
              @media (max-width: 580px) {
                text-align: center;
              }
            }
          }
        }
      }
    }
    .pagination .active a {
      background: #f98d1a;
      color: #fff;
      border: none;
    }
  }
}