.user-sidebar{
	margin: 0;
	padding: 25px 10%;
	display: block;
}

.user-sidebar h5{
	font-size: 16px;
	font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif
}

.user-sidebar .user-avatar{
	max-width: 100%;
	max-height: 300px;
	display: block;
}


.user-panel-header {
	background-color: #f8f8f8;
	border: 1px solid #e7e7e7;
	padding: 5px 40px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 40px;
	color: inherit;
	margin: 0;
}

.other-info{
	margin-bottom: 40px;
}

.other-info ul{
	width: 100%;
	margin: 0px;
	padding: 0px;
	display: block;
	border: 1px solid #e7e7e7;
	border-top: none;
}

.other-info li{
	text-decoration: none;
	list-style: none;
	line-height: 40px;
	padding-left: 40px;
	cursor: none;
}

.other-info ul li:hover{
	background-color: #f8f8f8;
	cursor: pointer;
}