@import '../../scss/mixins';
@import '../../scss/colors';

#game-details {
  margin: 0;
  padding: 0;

  .game-details-box {
    width: 100%;

    .container {
      .game-title {
        margin: 30px 30px 10px;

        h1 {
          margin: 0;
        }
      }

      .game-box {
        padding: 30px;
        width: 100%;
        @include display-flex;
        @include flex-direction(row);
        @include justify-content(center);
        @include flex-wrap(wrap);

        .left-col {
          float: left;
          text-align: left;
          max-width: 500px;
          flex-basis: calc(100%/2);

          @include respond-to(tablet) {
            flex-basis: calc(100%/1);
          }

          .gallery-box {
            border: 1px solid $pl-light-gray;
            width: 100%;
            height: auto;
            @include display-flex;
            @include justify-content(center);
            @include align-items(center);

            img {
              max-width: 100%;
              max-height: 400px;
            }
          }

          .game-list-box {
            padding: 50px 0 0;
            text-align: left;

            p {
              @include font-size(15);

              color: $pl-dark-gray2;
              font-family: 'Hind', sans-serif;
              font-weight: normal;
              line-height: 26px;

              span {
                color: $pl-dark-gray;
                font-weight: 600;
              }
            }
          }
        }

        .right-col {
          position: relative;
          flex-basis: calc(100%/2);
          width: 50%;

          @media screen and (max-width: 960px) {
            flex-basis: calc(100%/1);
            margin-top: 50px;
            @include justify-content(center);
            @include display-flex;
          }

          .game-info {
            margin-left: 50px;

            @media screen and (max-width: 960px) {
              margin-left: 0;
              max-width: 100%;
            }

            p {
              @include font-size(15);

              margin: 0px;
              color: $pl-dark-gray2;
              font-family: 'Hind', sans-serif;
              font-weight: normal;
              line-height: 26px;
              text-align: justify;
              word-wrap: break-word;
            }

            .owner {
              margin: 18px 0 0;

              span.detail-row {
                @include font-size(15);

                display: table;
                color: $pl-dark-gray2;
                font-family: 'Hind', sans-serif;
                font-weight: normal;
                line-height: 26px;

                span.detail-label {
                  display: table-cell;
                  min-width: 150px;
                  color: $pl-dark-gray;
                  font-weight: 600;
                }
              }
            }
          }
        }
      }

      .exchange-button {
        padding: 0 30px;
        margin-bottom: 30px;
        width: 100%;
        @include display-flex;
        @include justify-content( flex-end);
        @include flex-wrap(wrap);
      }

      .other-games-box {
        width: 100%;
        margin: 0px;
        padding: 0px;

        h1 {
          @include font-size(24);

          color: $pl-dark-gray;
          font-family: 'Hind', sans-serif;
          font-weight: 600;
          line-height: 30px;
          margin: 0px;
          text-align: center;
        }

        .games-box {
          padding: 18px 0px;
          @include display-flex;
          @include justify-content(center);
          @include flex-wrap(wrap);
          @include flex-direction(row);

          .single-game-box {
            @include justify-content(center);
            padding: 18px 0;
            text-align: center;
            @include flex-wrap(wrap);
            margin: 10px;

            .game-content {
              margin: 0 20px;

              img {
                width: 150px;
                height: 150px;
                border: 1px solid $pl-black;
                margin-bottom: 20px;
              }

              span.detail-row {
                @include font-size(15);

                display: table;
                color: $pl-dark-gray2;
                font-family: 'Hind', sans-serif;
                font-weight: normal;
                line-height: 26px;
                text-align: left;

                span.detail-label {
                  display: table-cell;
                  min-width: 100px;
                  color: $pl-dark-gray;
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
    }
  }
}
