<section id="user-game">
	<div class="container">
		<div class="game-info">
			<div class="game-title">
				<h3>Nazwa gry: {{gameDetails?.title}} </h3>
			</div>
			<div class="games-panel-content">
				<div class="single-game-box">
					<div class="single-box-content">
						<div class="game-image">
							<img src="{{this.appService.getUrl('/assets/uploads/covers/')}}{{gameDetails?.Image}}">
						</div>
						<div class="game-info">
							<p class="title">Właściciel:  {{ gameDetails?.userID.local.login }} </p>
							<div class="game-info-buttons">
								<button class="btn custom-button">Wymień się</button>
							</div>
							<p><strong>Kategoria: </strong>  {{ gameDetails?.category }} </p>
							<p><strong>Stan: </strong>  {{ gameDetails?.state }} </p>
							<p class="description">Opis:  {{ gameDetails?.description }} </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="other-game-detail">
	<div class="container">
		<h3>Pozostałe informacje</h3>
		<div class="future-section">
			<h3>Zasady gry:</h3>
			<p>ta sekcja będzie dodana w przyszłości</p>
		</div>
		<div class="future-section">
			<h3>Opinie o tej grze:</h3>
			<p>ta sekcja będzie dodana w przyszłości</p>
		</div>
		<div class="future-section">
			<h3>Inni gracze posiadający tą gre:</h3>
			<p>ta sekcja będzie dodana w przyszłości</p>
		</div>
	</div>
</section>
