#user-game{
	padding: 0;
	background-color: #FFF;
	.container{
		padding-left: 50px;	
		.game-info{
			padding-left: 25px;			
		}
		.games-panel-content {
			display: block;
			.single-game-box {
				padding-top: 20px;
				padding-right: 3%;
				padding-left: 3%;
				padding-bottom: 20px;
				width: 100%;
				min-height: 130px;
				display: table;
				.single-box-content {
					border-bottom: 2px solid #e7e7e7;
					width: 100%;
					display: inline-flex;
					.game-image {
						display: flex;
						vertical-align: middle;
						width: 120px;
						height: 120px;
						border: 1px solid #e7e7e7;
						img {
							background-position: top;
							max-height: 95%;
							max-width: 95%;
							position: relative;
							margin: auto;
							display: block;
						}
					}
					.game-info {
						margin-left: 30px;
						width: calc(100% - 150px);
						p.title {
							letter-spacing: -0.02em;
							font-size: 24px;
							line-height: 30px;
							display: inline-block;
						}
						p.description {
							text-align: justify;
						}
						.game-info-buttons {
							float: right;
							button {
								margin-top: 0;
							}
						}
					}
				}
			}
		}
	}
}

#other-game-detail{
	padding: 0;
	background-color: #FFF;
	margin-top: 50px;
	.container{
		padding-left: 50px;		
		.future-section{
			margin-top: 20px;
			border: 1px solid #f98d1a;
			border-radius: 5px;
			padding-left: 25px;
		}
	}
}