<div class="single-transaction inner" *ngFor="let history of userHistory | searchfilter: 'status' : 'rejected'">
    <div id="left" class="single-transaction-content">
      <a routerLink="/user-profile/{{ history?.users[0].local.login }}">
        <p>Login: {{history?.users[0]?.local.login}}</p>
      </a>
      <div *ngFor="let game of history.games | searchfilter: 'userID' : history?.users[0]._id">
        <p> Nazwa gry: {{game.title}}</p>
      </div>
    </div>
    <div id="right" class="single-transaction-content">
      <a routerLink="/user-profile/{{ history?.users[1].local.login }}">
        <p>Login: {{history?.users[1]?.local.login}}</p>
      </a>
      <div *ngFor="let game of history.games | searchfilter: 'userID' : history?.users[1]._id">
        <p> Nazwa gry: {{game.title}}</p>
      </div>
    </div>
    <div id="center" class="single-transaction-content">
      <p>Status</p>
      <p>"{{history?.status}}"<p>
    </div>
</div>