<div class="single-transaction inner" *ngFor="let history of userHistory | searchfilter: 'status' : 'rejected'" data-aos="fade-up">
    <div id="left" class="single-transaction-content" >
      <div *ngIf="history?.recipient.local && !history?.recipient.facebook">
        <a routerLink="/user-profile/{{ history?.recipient.local.login }}">
          <p>Login: {{history?.recipient.local.login}}</p>
        </a>
      </div>
      <div *ngIf="history?.recipient.facebook">
        <a routerLink="/user-profile/{{ history?.recipient.local.login }}">
          <p>Login: {{history?.recipient.facebook.name}}</p>
        </a>
      </div>
      <div class="gameTitle">
        <p> Nazwa gry: {{history?.recipientGame.title}}</p>
      </div>
    </div>
    <div id="right" class="single-transaction-content">
      <div *ngIf="history?.sender.local && !history?.sender.facebook">
        <a routerLink="/user-profile/{{ history?.sender.local.login }}">
          <p>Login: {{history?.sender.local.login}}</p>
        </a>
      </div>
      <div *ngIf="history?.sender.facebook">
        <a routerLink="/user-profile/{{ history?.sender.facebook.name }}">
          <p>Login: {{history?.sender.facebook.name}}</p>
        </a>
      </div>
      <div class="gameTitle">
        <p *ngIf="history?.senderGame"> Nazwa gry: {{history?.senderGame}}</p>
        <p *ngIf="!history?.senderGame"> Nie wybrano gry</p>
      </div>
    </div>
    <div id="center" class="single-transaction-content">
      <p>Status:</p>
      <p *ngIf="history?.status == 'rejected'">Odrzucone<p>
    </div>
</div>
