<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/main" routerLinkActive="active">
        <img src="../../assets/images/logo.png" alt="">
        {{title}}
      </a>
    </div>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed">
      <ul class="main-navbar nav navbar-nav navbar-right">
        <li><a routerLink="/games" routerLinkActive="active" (click)="isCollapsed = !isCollapsed"><span class="glyphicon glyphicon-ok-sign"></span> Wymiana</a></li>
        <li><a routerLink="/rating" routerLinkActive="active" (click)="isCollapsed = !isCollapsed"><span class="glyphicon glyphicon-star"></span> Ranking</a></li>
        <li><a routerLink="/catalog" routerLinkActive="active" (click)="isCollapsed = !isCollapsed"><span class="glyphicon glyphicon-list"></span> Katalog</a></li>
        <li *ngIf="currentUser == null"><a routerLink="/register" routerLinkActive="active" (click)="isCollapsed = !isCollapsed"><span class="glyphicon glyphicon-log-in"></span> Rejestracja / Logowanie</a></li>
        <li *ngIf="currentUser != null"><a routerLink="/profile" routerLinkActive="active" (click)="isCollapsed = !isCollapsed"><span class="glyphicon glyphicon-user"></span>
          Profil
          <span *ngIf="this.notificationsCount != '0'" class="notifications-count">
            {{this.appService.unread}}
          </span>
        </a></li>
        <li *ngIf="currentUser != null"><a (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Wyloguj</a></li>
      </ul>
    </div>
  </div>
</nav>

<simple-notifications></simple-notifications>

<div class="main">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12">
          Copyright &copy; 2017 Planszowkarz
      </div>
      <div class="col-md-6 col-xs-12">
          <ul>
            <li><a href="#">O autorach</a></li>
            <li><a href="#">Kontakt</a></li>
          </ul>
      </div>
    </div>
  </div>
</div>
