.main {
  min-height: calc(100vh - 157px);
}
.messages {
  position: absolute;
  z-index: 99;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  margin: auto;
  width: 25%;
  height: 30%;
  text-align: center;
}

.notifications-count {
  background: #999;
  color: #fff;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 10px;
}

#footer {
  position: fixed;
  bottom: 0;

}

.navbar {
  background: #444;
  border: none;
  position: relative;
  z-index: 98;
}

.navbar a {
  color: #fff;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}

.navbar a:hover, .navbar a:focus, .navbar a:active {
  color: #fff;
  border-bottom: 3px solid #f98d1a;
}

.navbar a.navbar-brand:hover,
.navbar a.navbar-brand:focus,
.navbar a.navbar-brand:active {
    border-bottom: 3px solid transparent;
}

.navbar-collapse {
  max-width: 700px;
  display: inline-block;
  float: right;
}

.navbar form {
  max-width: 350px;
  display: inline-block;
}

.search-input {
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  color: #fff;
  padding: 0 10px;
}

.search-input:focus {
  outline: none;
}

.search-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #fff;
}
.search-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #fff;
   opacity: 1;
}
.search-input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #fff;
   opacity: 1;
}
.search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #fff;
}
.search-input::-ms-input-placeholder { /* Microsoft Edge */
   color: #fff;
}

.footer {
  margin-top: 40px;
  background: #444;
  color: #fff;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  font-size: 12px;
}

.footer ul {
  list-style-type: none;
  margin: 0;
}

.footer ul li {
  display: inline-block;
  margin-left: 15px;
}

.footer ul li a {
  color: #fff;
}

.footer ul li a:hover,
.footer ul li a:focus,
.footer ul li a:active {
  color: #fff;
  text-decoration: underline;
}
