
/**
 * Sivan[sun.sivan@gmail.com]
 * This pen is using Autoprefixer
 */

// Main
.form-label {.form-group {
  margin: 0;
  padding: 0;
  border: 0;
}
input {
  display: block;
  width: 100%;
  height: 3em;
  padding: 16px 18px;
  border: 1px solid #ddd;
  border-radius: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  background:#fff;
  color: #212121;
  outline: 0;
  appearance: none;
  transition: all 0.2s ease-in-out;
	margin: 10px auto;
}
.form-group {
  margin: 0;
  padding: 0;
  border: 0;
}
input {
  display: block;
  width: 100%;
  height: 3em;
  padding: 16px 18px;
  border: 1px solid #ddd;
  border-radius: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  background:#fff;
  color: #212121;
  outline: 0;
  appearance: none;
  transition: all 0.2s ease-in-out;
  margin: 10px auto;
}
}

.form-label {
  .form-group {
    position: relative;
  }
  label {
    position: absolute;
    top: 15px;
    left: 8px;
    color: #909090;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease-in-out;
		padding: 0 10px;
  }
}

// Animation on <label>
.form-css-label {
  input {
    &[data-empty="false"],
    &:valid,
    &:focus {
      padding: 22px 18px 10px;
    }
    &:focus {
      outline: 0;
      background: rgba(255,255,255,1);
    }
    &[data-empty="false"] + label,
    &:valid + label,
    &:focus + label {
      font-weight: 700;
      font-size: 12px;
			top: -2px;
			background: #fff;
			padding: 0 10px;
      // transform: translate3d(0, -10px, 0);
    }
  }
}
