<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/main" routerLinkActive="active">{{title}}</a>
    </div>
    <form action="/app/search" method="post">
    	<input type="text" class="search-input" name="search" value="{{this.query.title}}" #searchInput placeholder="Szukaj...">
    	<button type="submit" class="custom-button" name="button" (click)="this.search(searchInput.value)"><i class="fa fa-search"></i></button>
    </form>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/games" routerLinkActive="active"><span class="glyphicon glyphicon-ok-sign"></span> Wymiana</a></li>
        <li><a routerLink="/main" routerLinkActive="active"><span class="glyphicon glyphicon-star"></span> Ranking</a></li>
        <li><a routerLink="/main" routerLinkActive="active"><span class="glyphicon glyphicon-list"></span> Katalog</a></li>
        <li><a *ngIf="currentUser == null" routerLink="/register" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Rejestracja / Logowanie</a></li>
        <li><a *ngIf="currentUser != null" routerLink="/profile" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Profil</a></li>
        <li><a *ngIf="currentUser != null" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Wyloguj</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <flash-messages></flash-messages>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="text-left">
          Copyright &copy; 2017 Planszowkarz
        </div>
      </div>
      <div class="col-md-6">
        <div class="text-right">
          <ul>
            <li><a href="#">O autorach</a></li>
            <li><a href="#">Kontakt</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
