router-outlet {
  margin-top: 30px;
}

#footer {
  position: fixed;
  bottom: 0;
}

.navbar {
  background: #f98d1a;
  border: none;
  position: absolute;
}

.navbar a {
  color: #fff;
  border-top: 2px solid transparent;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}

.navbar a:hover, .navbar a:focus, .navbar a:active {
  color: #fff;
  border-top: 2px solid #fff;
}

.footer {
  margin-top: 40px;
  background: #f98d1a;
  color: #fff;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  font-size: 12px;
}

.footer ul {
  list-style-type: none;
  margin: 0;
}

.footer ul li {
  display: inline-block;
  margin-left: 15px;
}

.footer ul li a {
  color: #fff;
}

.footer ul li a:hover,
.footer ul li a:focus,
.footer ul li a:active {
  color: #fff;
  text-decoration: underline;
}
