<section id="user-panel" class="user-info-panel">
	<div class="container">
		<div class="row">			
			<div class="col-md-8">
				<div class="user-main-panel">
					<div class="other-info">
						<div class="user-panel-header">
							<h5>Moje gry planszowe</h5>
							<button class="btn right" data-toggle="modal" data-target="#add-game">
							<img class="icon-size" src="./assets/images/icons/Plus.png">Dodaj grę</button>
						</div>
						<div class="game-box">
							<div class="game-single-box" *ngFor="let game of userGame">
								<div class="game-img">
									<img src="./assets/images/game1.jpg">
								</div>
								<div class="game-info">
									<p>Nazwa gry: {{ game.title }}</p>									
									<p>Opis gry: {{ game.description }}</p>
								</div>
								<div class="game-info-function-box">
									<img class="icon-size" alt="Edytuj" src="./assets/images/icons/Edit.png" data-toggle="modal" attr.data-target="#edit-game-{{game._id}}" />
									<img class="icon-size" alt="Usuń" src="./assets/images/icons/Delete.png"
									 (click)="removeUserGame(game._id);" />

									<!-- Edit Game Modal -->

									<div class="modal fade" id="edit-game-{{game._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
									  <div class="modal-dialog" role="document">
									    <div class="modal-content">
									      <div class="modal-header">
									      	<button type="button" class="close" data-dismiss="modal">&times;</button>
									        <h4 class="modal-title">Edytuj grę</h4>
									      </div>
									      <div class="modal-body">
											<div class="form-group">
												<label>Tytuł: <input class="form-control" value="{{game.title}}" #userGameName /></label>
											</div>
											<div class="form-group">
												<label>Opis: <textarea class="form-control" value="{{game.description}}"#userGameDescription></textarea></label>
											</div>
									      </div>
									      <div class="modal-footer">
									      	<button class="btn btn-default" (click)="editUserGame(game._id, userGameName.value, userGameDescription.value)">Zapisz</button>
									      </div>
									    </div>
									  </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="user-sidebar">
					<div class="other-info">
						<div class="user-panel-header">
							<h5>Dane użytkownika</h5>
						</div>
						<img class="user-avatar" src="./assets/images/avatar.png" alt="user-avatar" />
						<h4>Imię i nazwisko</h4>
						<ul>
							<li><img class="icon-size" src="./assets/images/icons/Phone.png" />Telefon: 123 456 789</li>
							<li><img class="icon-size" src="./assets/images/icons/Message.png" />Email: example@gmail.com</li>
							<li><img class="icon-size" src="./assets/images/icons/Calendar.png" />Data urodzenia: 10-04-1990</li>
						</ul>
						<button class="btn right">
							Edytuj dane
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Add Game Modal -->
<div class="modal fade" id="add-game" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Dodaj grę</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Tytuł: <input class="form-control" #userGameName /></label>
				</div>
				<div class="form-group">
					<label>Opis: <textarea class="form-control" #userGameDescription ></textarea></label>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" (click)="addUserGame(userGameName.value, userGameDescription.value);
				userGameName.value=''; userGameDescription.value=''">Dodaj</button>
			</div>
		</div>
	</div>
</div>