<section id="user-panel" class="user-info-panel">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="user-sidebar">
					<div class="main-section">
						<img class="user-avatar" src="./assets/images/avatar.png" alt="user-avatar" />
						<h4>Imię i nazwisko</h4>
						<!--<h4>{{ user.name }} {{user.surname}}</h4>-->
						<h5>Wiek: wiek </h5>
						<!--<h5>Wiek: {{ user.age}} </h5>-->
						<a class="">Edytuj profil</a>
					</div>
					<div class="other-info">
						<div class="user-panel-header">
							<h5>Pozostałe informacje</h5>
						</div>
						<ul>
							<li>Telefon</li>
							<li>Email</li>
							<li>Data urodzenia</li>
							<li>Płeć</li>
						</ul>
					</div>
					<div class="other-info">
						<div class="user-panel-header">
							<h5>Serwisy społecznościowe</h5>
						</div>
						<ul>
							<li>Facebook</li>
							<li>Twitter</li>
							<li>...</li>
							<li>...</li>
						</ul>
					</div>
					<div class="other-info">
						<div class="user-panel-header">
							<h5>Ulubione kategorie gier</h5>
						</div>
						<ul>
							<li>kategoria 1</li>
							<li>kategoria 2</li>
							<li>kategoria 3</li>
							<li>kategoria 4</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="user-main-panel">
					<div class="other-info">
						<div class="user-panel-header">
							<h5>O mnie</h5>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in turpis ac purus semper consequat. Phasellus dolor leo, tristique vitae orci non, mattis porttitor nulla. Aenean id viverra neque. Cras elementum maximus nunc, nec ultricies eros. Nullam elementum quis odio in varius. Nam malesuada magna a nulla rhoncus, vitae efficitur ligula tincidunt. Duis ac diam odio. Maecenas quis neque sit amet felis euismod sodales. Nulla nisi felis, facilisis nec arcu non, ultricies blandit odio. In ac ex at ipsum pulvinar tempor eu vitae magna. In et ex luctus, feugiat risus fermentum, feugiat nulla. Fusce mattis vulputate mauris sed facilisis.</p>
					</div>
					<div class="other-info">
						<div class="user-panel-header">
							<div class="row">
								<div class="col-md-6">
									<h5>Moje gry planszowe</h5>
								</div>
								<div class="col-md-6">
									<button class="btn right" data-toggle="modal" data-target="#add-game">Dodaj grę</button>
								</div>
							</div>
						</div>

						<div class="game-box">
							<div class="game-single-box" *ngFor="let game of userGame">
								<div class="game-img">
									<img src="./assets/images/game1.jpg">
								</div>
								<div class="game-info">
									<h5>Nazwa gry: {{ game.title }}</h5>
									<h5>ID: {{ game._id }} </h5>
									<h5>Data dodania: </h5>
									<button class="btn float-xs-right" data-toggle="modal" attr.data-target="#edit-game-{{game._id}}">Edytuj</button>
									<button (click)="removeUserGame(game._id);" class="btn float-xs-right">Usuń</button>

									<!-- Edit Game Modal -->

									<div class="modal fade" id="edit-game-{{game._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
									  <div class="modal-dialog" role="document">
									    <div class="modal-content">
									      <div class="modal-header">
									        <h4 class="modal-title">Edytuj grę</h4>
									      </div>
									      <div class="modal-body">
														<div class="form-group">
															<label>Tytuł: <input class="form-control" value="{{game.title}}" #userGameName /></label>
														</div>
														<div class="form-group">
															<label>Opis: <textarea class="form-control" value="{{game.description}}" #userGameDescription ></textarea></label>
														</div>
									      </div>
									      <div class="modal-footer">
									        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
													<button class="btn btn-default" (click)="editUserGame(game._id, userGameName.value, userGameDescription.value)">Zapisz</button>
									      </div>
									    </div>
									  </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Add Game Modal -->
<div class="modal fade" id="add-game" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Dodaj grę</h4>
			</div>
			<div class="modal-body">
					<div class="form-group">
						<label>Tytuł: <input class="form-control" #userGameName /></label>
					</div>
					<div class="form-group">
						<label>Opis: <textarea class="form-control" #userGameDescription ></textarea></label>
					</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
				<button class="btn btn-default" (click)="addUserGame(userGameName.value, userGameDescription.value);
				userGameName.value='';
				userGameDescription.value=''">Dodaj</button>
			</div>
		</div>
	</div>
</div>
