<div class="page-content">
  <div class="container">
    <div class="col-md-6">
      <h3 class="section-header">Najwyżej oceniani użytkownicy</h3>
      <hr class="main-hr">
      <div *ngIf="usersRankList" class="inner">
        <div class="recipientWrapper" *ngFor="let user of usersRankList">
          <div class="recipient">
            <div class="recipient-info">
              <p class="recipient-infoName" *ngIf="user.facebook"> <a routerLink="/user-profile/{{ user.local.login }}">{{user?.facebook.name}}</a></p>
              <p class="recipient-infoName" *ngIf="!user.facebook"> <a routerLink="/user-profile/{{ user.local.login }}">{{user?.local.login}}</a></p>
              <p><star-rating-comp [readOnly]="true" [labelText]="'Ocena społeczności: '" [labelPosition]="'top'" [starType]="'svg'" [rating]='user?.sumOfGrades/user?.numberOfRatings' [showHalfStars]="true"></star-rating-comp></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="section-header">Największa liczba wymian</h3>
      <hr class="main-hr">
      <div *ngIf="usersGamesList" class="inner">
        <div class="recipientWrapper" *ngFor="let user of usersGamesList">
          <div class="recipient">
            <div class="recipient-info">
              <p class="recipient-infoName" *ngIf="user.facebook"> <a routerLink="/user-profile/{{ user.local.login }}">{{user?.facebook.name}}</a></p>
              <p class="recipient-infoName" *ngIf="!user.facebook"> <a routerLink="/user-profile/{{ user.local.login }}">{{user?.local.login}}</a></p>
              <p>Liczba gier na wymianę: {{user?.numberOfGames}}</p>
              <p>Liczba przeprowadzonych wymian: {{user?.numberOfExchanges}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>