<div class="notifications-main-panel">
	<div class="notifications-info">
		<div class="new-game-wrapper">
			<div class="notifications-panel-content">
				<div *ngIf="!pagedItems">
	        <div class="text-center">
	          <img src="../../assets/images/loading.gif" alt="" class="loading">
	        </div>
	      </div>
				<div *ngFor="let notification of pagedItems">
					<div class="single-box inner" [ngClass]="{unread: notification.status =='new'}" >
						<div class="box-content">
							<p (click)="this.changeStatus(notification._id);notification.status = 'read'">
								<strong>
									<span *ngIf="notification.status == 'new'">
										<i class="fa fa-star" style="color: yellow"></i>
									</span> Treść:
								</strong>{{notification.content}}</p>
							<p><strong>Data: </strong>{{notification.sendDate| date:'medium' }}</p>
							<div class="notification-btns">
								<button routerLink="/profile/history/received/" type="button" name="button" class="btn custom-button">
									<i class="fa fa-check"></i> Przejdź do wymiany
								</button>
								<button type="button" name="button" class="btn" (click)="deleteNotification(notification._id, notification.status)">
									<i class="fa fa-close"></i> Usuń powiadomienie
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center">
				<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
					<li [ngClass]="{disabled:pager.currentPage === 1}">
						<a (click)="setPage(1)">&#60;&#60;</a>
					</li>
					<li [ngClass]="{disabled:pager.currentPage === 1}">
						<a (click)="setPage(pager.currentPage - 1)">&#60;</a>
					</li>
					<li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
						<a (click)="setPage(page)">{{page}}</a>
					</li>
					<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
						<a (click)="setPage(pager.currentPage + 1)">&#62;</a>
					</li>
					<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
						<a (click)="setPage(pager.totalPages)">&#62;&#62;</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
