@import '../../../scss/mixins';
@import '../../../scss/colors';

.notifications-main-panel {
  margin: 10px 0 0;
  display: block;

  .notifications-info {
    margin: 0;

    .notifications-panel-header {
      margin: 0;
      padding-left: 3%;
      padding-right: 3%;
      height: 50px;
      display: block;

      h5 {
        @include font-size(24);

        letter-spacing: -0.02em;
        line-height: 30px;
        display: inline-block;
      }
    }

    hr.style1 {
      border-top: 1px solid $pl-orange;
      margin: 5px 3%;
    }

    .notifications-panel-content {
      display: block;

      .single-box {
        margin-bottom: 15px;
        width: 100%;
        display: table;
        cursor: default;

        .box-content {
          padding: 15px;
          width: 100%;
          @include display-flex;
          @include flex-direction(column);
          
          i {
            color: $pl-yellow;
          }
        }
      }

      .unread {
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}

.inner a:active,
.inner a:focus,
.inner a:hover {
    color: $pl-orange;
    text-decoration: underline;
}
