<div class="notifications-main-panel inner">
	<div class="notifications-info">
		<div class="notifications-panel-header">
			<h5>Powiadomienia</h5>
		</div>
		<hr class="style1">
		<div class="notifications-panel-content">
			<div *ngIf="notifications">
				<div *ngFor="let notification of notifications">
					<div class="single-box" [ngClass]="{unread: notification.status =='new'}" (click)="this.changeStatus(notification._id)">
						<div class="box-content">
							<p><strong>Treść: </strong>{{notification.content}}</p>
							<p><strong>Data: </strong>{{notification.sendDate|date: 'dd-MM-yyyy'}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
