<div class="notifications-main-panel inner">
	<div class="notifications-info">
		<div class="notifications-panel-header">
			<h5>Powiadomienia</h5>
		</div>
		<hr class="style1">
		<div class="notifications-panel-content">
			<div class="single-box">
				<div class="box-content">
					<p><strong>Rodzaj powiadomienia: </strong>Treść powiadomienia</p>
					<p><strong>Data: </strong>2017-05-21</p>
				</div>
			</div>
			<div class="single-box">
				<div class="box-content">
					<p><strong>Rodzaj powiadomienia: </strong>Treść powiadomienia</p>
					<p><strong>Data: </strong>2017-05-21</p>
				</div>
			</div>
			<div class="single-box">
				<div class="box-content">
					<p><strong>Rodzaj powiadomienia: </strong>Treść powiadomienia</p>
					<p><strong>Data: </strong>2017-05-21</p>
				</div>
			</div>
			<div class="single-box">
				<div class="box-content">
					<p><strong>Rodzaj powiadomienia: </strong>Treść powiadomienia</p>
					<p><strong>Data: </strong>2017-05-21</p>
				</div>
			</div>
		</div>
	</div>
</div>