<nav class="navbar navbar-light bg-faded">
	<div class="container">
		<ul class="nav navbar-nav float-xs-right">
			<li class="nav-item">
				<a class="nav-link" routerLink="/user-info" routerLinkActive="active">Moje dane</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/profile" routerLinkActive="active">Gry planszowe</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/profile" routerLinkActive="active">Poszukiwane gry</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/profile" routerLinkActive="active">Powiadomienia</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/profile" routerLinkActive="active">Historia wymian</a>
			</li>			
		</ul>
	</div>
</nav>
