@import '../../sass/mixins';
@import '../../sass/colors';
@import '../../sass/pet-7-stroke';

.user-info-panel {
  margin: 0;
  width: 100%;

  a {
    color: $pl-dark-gray;
    // text-decoration: underline;
  }

  a:active,
  a:focus,
  a:hover {
    color: $pl-orange;
    // text-decoration: underline;
  }
}

.user-sidebar {
  margin: 0;
  padding: 20px 3% 1px;
  display: block;

  .other-info {
    margin-bottom: 40px;

    .user-avatar {
      max-width: 250px;
      max-height: 200px;
      display: block;
      position: relative;
      margin: 0 auto;
    }

    ul {
      width: 100%;
      margin: 0;
      margin-top: 20px;
      padding: 0;
      display: block;
      border-top: none;

      li {
        text-decoration: none;
        list-style: none;
        line-height: 22px;
        padding-left: 3%;

        &.username {
          @include font-size(20);

          margin-bottom: 15px;
        }
      }
    }
  }
}

.games-panel-header {
  margin: 0;
  padding: 0 3%;
  height: 50px;
  display: block;

  h5 {
    @include font-size(24);

    letter-spacing: -0.02em;
    line-height: 30px;
    display: inline-block;
  }

  .button-add-new-game {
    float: right;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

hr.style1 {
  border-top: 1px solid $pl-orange;
  margin: 5px 3%;
}

.games-panel-content {
  display: block;

  .single-game-box {
    width: 100%;
    min-height: 130px;
    display: table;

    .single-box-content {
      padding: 15px;
      margin-bottom: 15px;
      width: 100%;
      display: inline-flex;

      .game-image {
        display: flex;
        vertical-align: middle;
        width: 120px;
        height: 120px;
        border: 1px solid $pl-light-gray;

        img {
          background-position: top;
          position: relative;
          max-height: 95%;
          max-width: 95%;
          margin: auto;
          display: block;
        }
      }

      .game-info {
        margin-left: 30px;
        width: calc(100% - 190px);

        p {
          &.title {
            @include font-size(24);

            letter-spacing: -0.02em;
            line-height: 30px;
            display: inline-block;
          }

          &.description {
            text-align: justify;
          }
        }

        .game-info-buttons {
          float: right;

          button {
            margin-top: 0;
          }
        }
      }
    }
  }
}

.games-panel-content {
  display: block;

  .single-game-box {
    margin-bottom: 15px;
    width: 100%;
    min-height: 130px;
    display: table;

    .single-box-content {
      padding: 10px 20px;
      width: 100%;
      display: inline-flex;

      @media screen and (max-width: 400px) {
        display: flex;
        flex-direction: column;
        text-align: center;
      }

      .game-image {
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        width: 160px;
        height: 120px;
        border: 1px solid $pl-light-gray;

        @media screen and (max-width: 400px) {
          display: block;
          margin: 0 auto;
        }

        img {
          position: relative;
          background-position: top;
          max-height: 116px;
          max-width: 116px;
          margin: auto;
        }
      }

      .game-info {
        margin-left: 30px;
        width: calc(100% - 150px);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @media screen and (max-width: 400px) {
          margin: 0;
          width: 100%;
        }

        a {
          color: $pl-dark-gray;
          display: flex;
          align-items: center;

          @media screen and (max-width: 400px) {
            min-height: auto;
            justify-content: center;
            margin: 20px 0;
          }
        }

        a:hover,
        a:focus,
        a:active, {
          color:  $pl-orange;
        }

        p {
          margin-bottom: 5px;

          &.title {
            @include font-size(24);

            letter-spacing: -0.02em;
            line-height: 30px;
            display: inline-block;
          }
        }

        .game-info-buttons {
          display: flex;
          justify-content: flex-end;
          margin-top: 20px;

          @media screen and (max-width: 400px) {
            justify-content: center;
          }
        }
      }
    }
  }
}

.user-info-box {
  margin-bottom: 15px;

  .icon {
    @include font-size(20);
    position: relative;
    top: 4px;

    &-phone {
      @include pet-icon-after($pl-icon-phone);
    }

    &-marker {
      @include pet-icon-after($pl-icon-marker);
    }

    &-date {
      @include pet-icon-after($pl-icon-date);
    }

    &-mail {
      @include pet-icon-after($pl-icon-mail);
    }

    &-games {
      @include pet-icon-after($pl-icon-games);
    }

    &-change {
      @include pet-icon-after($pl-icon-change);
    }

    &-star {
      @include pet-icon-after($pl-icon-star);
    }
  }
}

.col-md-4.col-md-push-8.user-info {
  margin-bottom: 0px;
}

@include respond-to(tablet) {
  .col-md-4.col-md-push-8.user-info {
    margin-bottom: 15px;
  }
}
.customRateButton{
  margin-top: -4px;
  
}
.rateInput{
  color: $pl-orange;
  height: 30px;
  margin-top: 3px;
}
