<div class="container">
	<div class="other-info">
		<div class="user-panel-header">
			<h5>Znajdujesz się na profilu użytkownika: {{userInfo?.local.login}}</h5>
		</div>
		<ul>
			<li>Email: {{userInfo?.local.email}}</li>
			<li>Imię: {{userInfo?.surName}}</li>
			<li>Data urodzenia: {{userInfo?.dateBirth}}</li>
			<li>Miasto: {{userInfo?.city}}</li>
			<li>Numer telefonu: {{userInfo?.contactNumber}}</li>
		</ul>
	</div>
	<div class="game-box">
		<div class="game-single-box" *ngFor="let game of userGame">
			<div class="game-img">
				<img src="http://localhost:8080/assets/uploads/{{ game.gameImage }}">
			</div>
			<div class="game-info">
				<p>Nazwa gry: {{ game.title }}</p>
				<p>Kategoria: {{ game.category }}</p>
				<p>Stan: {{ game.state }}</p>
				<p>Dodatkowy opis: {{ game.description }}</p>
			</div>
		</div>
	</div>
</div>