@import '../../sass/mixins';

.profile-panel {
  margin: 0;
  width: 100%;
  
  .container {
    padding-right: 0;
    padding-left: 0;

    .col-md-4.col-md-push-8.user-info {
      margin-bottom: 0;

      @include respond-to(tablet) {
        margin-bottom: 15px;
      }
    }
  }
}
