.profile-panel{
	margin: 0;
	width: 100%;
}

.container{
	padding-right: 0px;
	padding-left: 0px;
}

.col-md-4.col-md-push-8.user-info {
	margin-bottom: 0px;
}

@media (max-width: 992px) {
	.col-md-4.col-md-push-8.user-info {
		margin-bottom: 15px;
	}
}
