<section id="authorsPage">
  <div class="container">
    <h3 class="section-header">Autorzy</h3>
    <hr class="main-hr">
    <div class="section-container">
      <div class="author-card" data-aos="fade-up">
        <div class="author-photo photo1"></div>
        <div class="author-description">
          <h1>Kamil Wójcik</h1>
          <h2>Back-End</h2>
          <p>magicproject525@gmail.com</p>
          <p>Poznań</p>
        </div>
      </div>
      <div class="author-card" data-aos="fade-up">
        <div class="author-photo photo2"></div>
        <div class="author-description">
          <h1>Mateusz Piotrowicz</h1>
          <h2>Back-End</h2>
          <p>piotrowiczmateusz@onet.pl</p>
          <p>Poznań</p>
        </div>
      </div>
      <div class="author-card" data-aos="fade-up">
        <div class="author-photo photo3"></div>
        <div class="author-description">
          <h1>Marian Faron</h1>
          <h2>Front-End</h2>
          <p>magicproject525@gmail.com</p>
          <p>Poznań</p>
        </div>
      </div>
      <div class="author-card" data-aos="fade-up">
        <div class="author-photo photo4"></div>
        <div class="author-description">
          <h1>Aleksander Pośka</h1>
          <h2>Front-End</h2>
          <p>magicproject525@gmail.com</p>
          <p>Poznań</p>
        </div>
      </div>
    </div>
  </div>

</section>
