<div class="page-content">
  <div class="container">
    <div class="about-project-content" data-aos="fade-up">
      <div class="about-project-header">
        <h3 class="section-header">O projekcie</h3>
        <hr class="main-hr">
      </div>
      <div class="about-project-box">
        <div class="about-project-description">
          <p>
            Projekt jest realizowany w ramach przedmiotu "Inżynierski projekt zespołowy".
          </p>
          <p>
            Autorami projektu są:
          </p>
          <ul>
            <li>Marian Faron</li>
            <li>Mateusz Piotrowicz</li>
            <li>Aleksander Pośka</li>
            <li>Kamil Wójcik</li>
          </ul>
          <p>
            Celem projektu jest stworzenie platformy skupiającej wokół siebie osoby zainteresowane grami planszowymi oraz udostępnieniu im mechanizmu wymiany gier z innymi użytkownikami.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>