<div class="about-project-content">
  <div class="about-project-header">
    <p>
      O Projekcie
    </p>
  </div>
  <div class="about-project-box">
    <div class="about-project-description">
      <p>Projekt jest realizowany w ramach przedmiotu "Inżynierski projekt zespołowy".</p>
    </div>
  </div>
  <div class="about-project-box">
    <div class="about-project-description">
      <p>Autorami projektu są: Marian Faron, Mateusz Piotrowicz, Aleksander Pośka i Kamil Wójcik.</p>
    </div>
  </div>
  <div class="about-project-box">
    <div class="about-project-description">
      <p>Celem projektu jest stworzenie platformy skupiającej wokół siebie osoby zainteresowane grami planszowymi oraz udostępnieniu im mechanizmu wymiany gier z innymi użytkownikami.</p>
    </div>
  </div>
  <div class="about-project-box">
    <div class="about-project-description">
      <p>Dodatkowo aplikacja będzie pełniła rolę informacyjną i społeczną, gdzie użytkownik będzie mógł poszerzać swoją wiedzę na temat gier oraz umawiać się na wspólne gry z innymi użytkownikami.</p>
    </div>
  </div>
</div>
