/* You can add global styles to this file, and also import other style files */


/*
  COLORS
    black: #000;
    white: #fff;
    orange: #f98d1a;
    gray: #f5f5f5;
    darkGray: #333;
*/

body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  background: #f5f5f5;
}

a {
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  transition: all 150ms linear;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

h3 {
  font-size: 16px;
  text-transform: uppercase;
  color: #444;
}

button:focus {
  outline: none!important;
}

.form-control:focus {
  outline: none!important;
  border: 1px solid #f98d1a;
  box-shadow: none;
}

.form-group label {
  width: 100%;
}

input.form-control,
textarea.form-control {
  width: 100%;
}

textarea.form-control {
  min-height: 180px;
}

.form-control {
  margin-bottom: 10px;
}

.loading {
  max-width: 30px;
}

.custom-button {
  margin-top: 15px;
  color: white;
  font-weight: 500;
  background: #f98d1a;
  border: none;
}

.custom-button:hover,
.custom-button:focus,
.custom-button:active {
  color: white;
  background: #f98d1a;
  border: none;
}

.main-hr {
  border: 0;
  height: 1px;
  background: #f98d1a;
}

.inner{
    background: #fff;
    box-shadow: 2px 2px 1px #d5d5d5;
}

/* DATEPICKER */

.mydp .header {
    background: #f98d1a!important;
    color: #fff!important
}

.mydp .headerbtncell,
.mydp .headerbtn, .mydp .headerlabelbtn, .mydp .yearchangebtn {
  background: #f98d1a!important;
  color: #fff!important;
}

.mydp .selectedday .datevalue, .mydp .selectedmonth .monthvalue, .mydp .selectedyear .yearvalue {
  color: #fff!important;
}

.mydp .caltable, .mydp .daycell, .mydp .monthcell, .mydp .monthtable, .mydp .weekdaytitle, .mydp .yearcell, .mydp .yeartable {
	color: #333!important;
}

.checkbox label,
.radio label {
  padding-left: 0;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    background: #fff;
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 10%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    opacity: 0;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
