/* You can add global styles to this file, and also import other style files */


/*
  COLORS
    black: #000;
    white: #fff;
    orange: #f98d1a;
    gray: #f5f5f5;
*/

body {
  font-family: 'Open Sans', sans-serif;
}

button:focus {
  outline: none!important;
}

.form-control:focus {
  outline: none!important;
  border: 1px solid #f98d1a;
  box-shadow: none;
}

.form-group label {
  width: 100%;
}

input.form-control,
textarea.form-control {
  width: 100%;
}

textarea.form-control {
  min-height: 180px;
}

.form-control {
  margin-bottom: 10px;
}

.custom-button {
  margin-top: 15px;
  color: white;
  font-weight: 500;
  background: #f98d1a;
  border: none;
}

.custom-button:hover,
.custom-button:focus,
.custom-button:active {
  color: white;
  background: #f98d1a;
  border: none;
}

.main-hr {
  border: 0;
  height: 1px;
  background: #f98d1a;
  background-image: linear-gradient(to right, #fdd0a1, #f98d1a, #fdd0a1);
}

.inner{
    background: #f5f5f5;
    box-shadow: 2px 2px 1px #d5d5d5;
}

/* DATEPICKER */

.mydp .header {
    background: #f98d1a!important;
    color: #fff!important
}

.mydp .headerbtncell,
.mydp .headerbtn, .mydp .headerlabelbtn, .mydp .yearchangebtn {
  background: #f98d1a!important;
  color: #fff!important;
}

.mydp .selectedday .datevalue, .mydp .selectedmonth .monthvalue, .mydp .selectedyear .yearvalue {
  color: #fff!important;
}

.mydp .caltable, .mydp .daycell, .mydp .monthcell, .mydp .monthtable, .mydp .weekdaytitle, .mydp .yearcell, .mydp .yeartable {
	color: #000!important;
}
