<section id="main-banner">
  <div class="banner-background"></div>
  <div class="banner-container">
    <div class="container">
      <div class="banner-header">
        <h1> Planszówkarz </h1>
        <h2> wymieniaj się z innymi swoimi planszówkami </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius a dui ut consectetur. Curabitur dapibus augue orci, non tincidunt purus ullamcorper quis. Duis at massa volutpat, egestas augue ut, facilisis metus.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="newGames" class="newestGames">
  <div class="container">
    <h2>Najnowsze ogłoszenia</h2>
    <hr class="main-hr">
    <div class="row">
      <div *ngIf="!userGame">
        <div class="text-center">
          <img src="../../assets/images/loading.gif" alt="" class="loading">
        </div>
      </div>
      <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">

        <div ngxSlickItem *ngFor="let game of userGame" class="slide">
          <div class="new-game-wrapper" >
            <div class="game-card">
              <div class="inner">
                <a routerLink="/games/{{ game._id }}">
                  <img src="{{this.appService.getUrl('/assets/uploads/covers/')}}{{ game.Image }}"
                      alt="{{game.title}}" class="img-responsive" />
                  <h3>{{ game.title }}</h3>
                </a>
                <div class="info-box">
                  <div class="info-element">
                    <div>
                      <span class="icon icon-user" aria-hidden="true"></span>
                    </div>
                    <div class="info-element__user">
                      <span *ngIf="!game.userID.facebook">
                        <a routerLink="/user-profile/{{ game.userID.local.login }}">
                          {{ game.userID.local.login }}</a>
                      </span>
                      <span *ngIf="game.userID.facebook">
                        <a routerLink="/user-profile/{{ game.userID.local.login }}">
                          {{ game.userID.facebook.name }}</a>
                      </span>
                    </div>
                  </div>
                  <div class="info-element" *ngIf="game.userID.city">
                    <div>
                      <span class="icon icon-marker" aria-hidden="true"></span>
                    </div>
                    <div class="info-element__city">
                      Lokalizacja: {{ game.userID.city }}
                    </div>
                  </div>
                  <div class="info-element" *ngIf="!game.userID.city">
                    <div>
                      <span class="icon icon-marker" aria-hidden="true"></span>
                    </div>
                    <div class="info-element__city">
                      Lokalizacja: Nie podano
                    </div>
                  </div>
                  <div class="info-element" *ngIf="game.createdDate">
                    <div>
                      <span class="icon icon-date" aria-hidden="true"></span>
                    </div>
                    <div>
                      Dodane {{ game.createdDate | date:'shortDate' }}
                    </div>
                  </div>
                  <div *ngIf="this.appService.isLoggedIn()" class="text-center">
                    <button *ngIf="this.appService.getCurrentUser()._id != game.userID._id"
                      routerLink="/exchange/{{ game._id }}" type="button" class="btn btn-default custom-button">Wymień się</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ngx-slick>
    </div>
  </div>
  <div class="center">
    <button routerLink="/games" type="button" class="btn btn-default custom-button">Zobacz wszystkie ogłoszenia <i class="fa fa-angle-right"></i> </button>
  </div>

</section>

<section id="forWho">
    <div class="container">
      <h2>Dla kogo stworzyliśmy planszówkarza</h2>
      <hr class="main-hr">
      <div class="section-wrapper">
        <div class="section-row" data-aos="fade-up">
          <span> 1 </span>
          <h3> Dla miłośników planszówek, którzy chcą zagrać w nowe gry. </h3>
        </div>
        <div class="section-row" data-aos="fade-up">
          <span> 2 </span>
          <h3> Dla osób, które posiadają gry, których nie używają. Zamiast wyrzuć - wymień się za nową. </h3>
        </div>
        <div class="section-row" data-aos="fade-up">
          <span> 3 </span>
          <h3> Dla osób poszukujących nowych gier. Sprawdź ranking, a dowiesz się które gry są najpopularniejsze. </h3>
        </div>
      </div>
    </div>
</section>

<section id="goToRegister" >
  <div class="section-background"></div>
  <div class="section-container">
    <div class="container">
        <div class="section-content">
          <h2> Załóż konto i dołącz do nas! </h2>
        </div>
    </div>
  </div>
</section>

<section id="hoToMakeExchange">
    <div class="container">
      <h2>Przeprowadź wymianę w 5 krokach</h2>
      <hr class="main-hr">
      <div class="section-wrapper">
        <div class="section-row" data-aos="fade-up">
          <span> 1 </span>
          <h3> <b>Załóż konto</b> lub zaloguj się przez facebooka. </h3>
        </div>
        <div class="section-row" data-aos="fade-up">
          <span> 2 </span>
          <h3> <b>Dodaj gry</b>, które chcesz wymienić na inne. </h3>
        </div>
        <div class="section-row" data-aos="fade-up">
          <span> 3 </span>
          <h3> <b>Znajdź grę</b>, którą chcesz uzyskać w zamian za swoje gry. </h3>
        </div>
        <div class="section-row" data-aos="fade-up">
          <span> 4 </span>
          <h3> <b>Zaproponuj wymianę</b> właścicielowi gry. </h3>
        </div>
        <div class="section-row" data-aos="fade-up">
          <span> 5 </span>
          <h3> <b>Ustal szczegóły</b> wymiany komunikując się za pomocą czatu. </h3>
        </div>
      </div>
    </div>
</section>
