

.new-game-wrapper{
    padding: 0 15px 20px 15px;
    line-height: 28px;
}

.new-game-wrapper .inner{
    background: #f5f5f5;
    box-shadow: 2px 2px 1px #d5d5d5;
    padding: 20px;
}
.new-game-wrapper img{
}

.rate-wrapper{
    padding: 0 15px 20px 15px;
    line-height: 28px;
}

.rate-wrapper .inner{
    background: #f5f5f5;
    box-shadow: 2px 2px 1px #d5d5d5;
    padding-bottom: 20px;
}

.rate-wrapper .rate-info:after{
    content: '';
    display: block;
    clear: both;
}

.rate-info{
    padding: 0 20px;
}

.rate-img{
    width: 150px;
    height: 170px;
    float: left;
    padding-top: 20px;
}
.rate-text{
    padding-left: 20px;
    float: left;
}

.rate-hr{
    border: 0;
    height: 1px;
    background: #f98d1a;
    width: 90%;
    margin-bottom: 0;
}

.center-block{
    max-width: 150px;
    height: 150px;
}


.game-card{
    color: #000;
}

.game-card:hover{
    text-decoration: none;
    color: #000;
}

.inner a{
    color: #333;
    text-decoration: underline;
}

.inner a:active,
.inner a:focus,
.inner a:hover{
    color: #f98d1a;
    text-decoration: underline;
}