<section id="newGames" class="newestGames">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <h2>Najnowsze gry</h2><br>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
		<div>
			<img src="./assets/images/game1.jpg" alt="game#1" class="img-responsive">
		</div>
		<div>
			<h3>Nazwa Gry</h3>
			<p>Lorem ipsum dolor sit amet, consectetur.</p>
		</div>
      </div>
	  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
		<div>
			<img src="./assets/images/game1.jpg" alt="game#1" class="img-responsive">
		</div>
		<div>
			<h3>Nazwa Gry</h3>
			<p>Lorem ipsum dolor sit amet, consectetur.</p>
		</div>
      </div>
	  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
		<div>
			<img src="./assets/images/game1.jpg" alt="game#1" class="img-responsive">
		</div>
		<div>
			<h3>Nazwa Gry</h3>
			<p>Lorem ipsum dolor sit amet, consectetur.</p>
		</div>
      </div>
    </div>
  </div>
</section>