@import 'https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/css/swiper.min.css';

.new-game-wrapper{
    padding: 0 15px 20px 15px;
    line-height: 28px;
}


.new-game-wrapper .inner{
    background: #fff;
    box-shadow: 2px 2px 1px #d5d5d5;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 400px;
}

.new-game-wrapper img{
    width: 150px;
    height: 150px;
}

.rate-wrapper{
    padding: 0 15px 20px 15px;
    line-height: 28px;
}

.rate-wrapper .inner{
    background: #fff;
    box-shadow: 2px 2px 1px #d5d5d5;
    padding-bottom: 20px;
}

.rate-wrapper .rate-info:after{
    content: '';
    display: block;
    clear: both;
}

.rate-info{
    padding: 0 20px;
}

.rate-img{
    width: 150px;
    height: 170px;
    float: left;
    padding-top: 20px;
}
.rate-text{
    padding-left: 20px;
    float: left;
}

.rate-hr{
    border: 0;
    height: 1px;
    background: #f98d1a;
    width: 90%;
    margin-bottom: 0;
}

.center-block{
    max-width: 150px;
    height: 150px;
}


.game-card{
    color: #000;
}

.game-card:hover{
    text-decoration: none;
    color: #000;
}

.inner a{
    color: #333;
    text-decoration: underline;
}

.inner a:active,
.inner a:focus,
.inner a:hover{
    color: #f98d1a;
    text-decoration: underline;
}
.game-card a,
.game-card a h3 {
  text-decoration: none;
  color: #333;

  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  transition: all 150ms linear;
}

.game-card a:hover,
.game-card a:focus,
.game-card a:active,
.game-card a:hover h3,
.game-card a:focus h3,
.game-card a:active h3{
  text-decoration: none;
  color: #f98d1a;
}
.swiper-button-next{
    right: 0;
}
